<!-- create contractor -->
<section class="createcontract">
  <div class="ft">
    <h1>Contact | Create
    </h1>
  </div>
  <form class="createContractorForm">
    <div class="row">
      <div class="col-md-12">
        <!-- input type -->
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">
             
                  <div class="input-field col s6">
                      <p>
                          <label>
                            Contact Type
                          </label>
                        </p>
                    <select class="orga">
                      <option value="" disabled selected>Contact</option>
                      <option value="'customer'">Customer</option>
                      <option value="'vendor'">Vendor</option>
                      <option value="'employee'">Employee</option>
                    </select>
                  </div>

                  <div class="input-field col s6">
                      <p><label>Email <span class="blue_star">*</span></label></p>
                      <input type="text" class="validate">
                    </div>

                </div>
                <div class="row">


                  <!-- <div class="input-field col s4">
                    <p><label>Primary Contact</label></p>
                    <input type="text" class="validate">
                  </div> -->
                  <div class="input-field col s6">
                      <p><label>Company Name</label></p>
                      <input type="text" class="validate">
                    </div>
                  <div class="input-field col s6">
                    <p><label>Phone Number</label></p>
                    <input type="text" class="validate">
                  </div>

                </div>
                <div class="row">
              
                  <div class="input-field col s6">
                    <p><label>Website<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate">
                  </div>
                  <!-- <div class="input-field col s4">
                    <p><label>Phone Number</label></p>
                    <input type="text" class="validate">
                  </div> -->

                </div>

              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="showContent()">Next</button>
              <button class="cancelBtn">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </form>
</section>

<!-- create contractor -->