<!-- create company -->
<section class="createcontract">
    <!-- Loader -->
<div class="loading" *ngIf="loader">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
<!-- Loader -->
  <div class="ft">
    <h1>Company | Create
    </h1>
  </div>
  <form class="createContractorForm"[formGroup]="companyForm">
    <div class="row">
      <div class="col-md-12">
           <!-- input type -->
        <div *ngIf="fieldinput">
          <div class="card corCard">
            <div class="row">
           
              <div class="nota">
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Email <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="email">
                  </div>
                  <div class="input-field col s4">
                    <p><label>Company Name</label></p>
                    <input type="text" class="validate" formControlName="companyName">
                  </div>
                  <div class="input-field col s4">
                    <p><label>Registration No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="regNo">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Address</label></p>
                    <input type="text" class="validate" formControlName="Address">
                  </div>
    
                  <div class="input-field col s4">
                    <p><label>Phone Number</label></p>
                    <input type="text" class="validate" formControlName="phoneNumber">
                  </div>
                  <div class="input-field col s4">
                    <p><label>PAN No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="panCard">
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Currency</label></p>
                    <!-- <input type="text" class="validate" formControlName="currency"> -->
                    <select formControlName="currency">
                      <option value="" disabled selected>Choose your option</option>
                      <option value="Rupees">Rupees</option>
                    </select>
                  </div>
                  <div class="input-field col s4">
                    <p><label>GST No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="gstNo">
                  </div>
                  <div class="input-field col s4">
                    <p><label>Trade License No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="tradeLicenseNo">
                  </div>

                </div>

                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Invoice No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="invoiceNo">
                  </div>
         
                </div>
              </div>
      
            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="showContent()">Next</button>
              <button class="cancelBtn">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->
        <!-- uploadfiles -->
        <div *ngIf="imagefile">
          <div class="card corCard">
            <div class="row">

              <div class="imgFile">
                <p><span class="blue_star">******Upload Files*********</span></p>
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Company Logo</label></p>
                    <div class="input-field col s7 myFilet aeto"><input type="file" class="validate" (change)="upload($event,'companyLogo')" class="fileType" formControlName="companyLogo" >
                    </div>
                  </div>
                  <div class="input-field col s4">
                    <p><label>Trade License</label></p>
                    <div class="input-field col s7 myFilet aeto"><input type="file" class="validate" (change)="upload($event,'tradeLicenseId')" formControlName="tradeLicenseId" class="fileType">
                    </div>
                  </div>
                  <div class="input-field col s4">
                    <p><label>GST</label></p>
                    <div class="input-field col s7 myFilet aeto"><input type="file" class="validate" (change)="upload($event,'gstId')" formControlName="gstId" class="fileType">
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="input-field col s4">
                    <p><label>Invoice</label></p>
                    <div class="input-field col s7 myFilet aeto"><input formControlName="invoiceId" (change)="upload($event,'invoiceId')" type="file" class="validate" class="fileType">
                    </div>
                  </div>
                  <div class="input-field col s4">
                    <p><label>PAN</label></p>
                    <div class="input-field col s7 myFilet aeto"><input formControlName="panId" (change)="upload($event,'panId')" type="file" class="validate" class="fileType">
                    </div>
                  </div>
                  <div class="input-field col s4">
                    <p><label>Registration</label></p>
                    <div class="input-field col s7 myFilet aeto"><input formControlName="regId" (change)="upload($event,'regId')" type="file" class="validate" class="fileType">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="FormSubmit()">Save</button>
              <button class="cancelBtn">Cancel</button>
            </div>
          </div>
        </div>




        <!-- uploadfiles -->





      </div>
    </div>

  </form>
</section>

<!-- create company -->