<!-- order-->
<section class="corder">
  <a href="#" class="floatEa">
    <i class="fa fa-envelope-o my-float"></i>
  </a>
  <div class="ft">
    <h1>Accounts
      <button class="addItema" data-toggle="modal" data-target="#accountModal"><i class="fa fa-plus-circle"
          aria-hidden="true"></i>Add</button>
    </h1>
  </div>
  <div class="card margina">
    <div class="tableide">
      <div class="row">
        <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th class="numeric">ACCOUNT NAME</th>
                <th>ACCOUNT CODE</th>
                <th>NAME</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of accountlist">
                <td class="thno" data-title="NO.">{{list.accountName}}</td>
                <td class="thname" data-title="NAME">{{list.accountCode}}</td>
                <td class="thname" data-title="VAT ID">{{list.name}}</td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- order -->

<!-- Button trigger modal -->
<!-- <button class="btn btn-primary btn-lg" >Launch demo modal</button> -->
<!-- Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span>

          </button>
          <h4 class="modal-title accountTitle">Create Account</h4>

        </div>
        <div class="modal-body">
          <form [formGroup]="accountForm">
            <div class="row">
              <div class="input-field col s3">
                <label>Account Type <span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <select formControlName="accountTypeId">
                  <option value="" disabled selected>Choose your option</option>
                  <!-- <option *ngFor="let list of accountypelist" [value]='list._id'>{{list.accountName}}</option> -->
                  <option value="2">Expenses</option>
                  <option value="3">Income</option>
                  <option value="3">Liability</option>
                  <option value="3">Revenue</option>
                </select>
                <p class="errormessage" *ngIf="accountFormErrors.accountTypeId.required || (accountForm.controls.accountTypeId.pristine && submitted)">Please choose one option</p>

              </div>
            </div>


            <div class="row">
              <div class="input-field col s3">
                <label> Name <span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <input type="text" class="validate" formControlName="name">
                <p class="errormessage" *ngIf="accountFormErrors.name.required || (accountForm.controls.name.pristine && submitted)"> Name can't be empty</p>

                <div class="check">
                  <input type="checkbox" id="check">
                  <label for="check"> <span>Make this a sub-account<i class="fa fa-question-circle-o"
                        aria-hidden="true"></i></span></label>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="input-field col s3">
                <label> Account Name <span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <input type="text" class="validate" formControlName="accountName">
                <p class="errormessage" *ngIf="accountFormErrors.accountName.required || (accountForm.controls.accountName.pristine && submitted)">Account Name can't be empty</p>

              </div>
            </div>




            <div class="row">
              <div class="input-field col s3">
                <label>Account Code</label>
              </div>
              <div class="input-field col s7">
                <input type="text" class="validate" formControlName="accountCode">
                <p class="errormessage" *ngIf="accountFormErrors.accountCode.required || (accountForm.controls.accountCode.pristine && submitted)">Account code can't be empty</p>

              </div>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <label>Description</label>
              </div>
              <div class="input-field col s7">
                <textarea cols="8" rows="4" placeholder="Max 500 characters" formControlName="description"></textarea>
                <p class="errormessage" *ngIf="accountFormErrors.description.required || (accountForm.controls.description.pristine && submitted)">Description can't be empty</p>


                <div class="check">
                  <input type="checkbox" id="checka">
                  <label for="checka"> <span> Add to the watchlist on my dashboard</span></label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="saveBtn" (click)="submit()">Save</button>
              <button type="button" class="cancelBtn">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->