/* user order */
.ft h1 {
    font-size: 34px;
    padding: 19px 0;
    padding-left: 20px;
    margin:0;
  }
section.corder {
    /* margin-left: -2em; */
}
.ft {
    background: #fff;
}
button.addItema {
    border: 2px solid #32b1f8;
    background: transparent;
    color: #32b1f8;
    height: 35px;
    font-size: 15px;
    border-radius: 2px;
    width: 90px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1em;
}
button.addItema i {
    font-size: 17px;
    margin-right: 7px;
}
/* table css */
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
.tableide {
    /* padding: 1em 2em; */
}
.tableide .table-bordered>tbody>tr>td{
    border: none;
    padding: 1em;
    color: #000;
    font-weight: 600;
}
.tableide .table-bordered>thead>tr>th {
    border: none;
    padding: 1em;
    background: #fff;
    color:#7b95a1;
}
.tableide tr {
    border-bottom: 1px solid #eee;
    background: #f6fbfc;
}
.tableide .table-bordered {
    border: none;
}
.card.margina {
    margin: 2em;
    box-shadow: none;
    border-radius: 5px;
}
td.thname {
    color: #2f65a1 !important;
    font-weight: 600 !important;
}
td.thno {
    color: #90979b !important;
}
button.caretn {
    background: transparent;
    color: #b1c0c7;
    border: 2px solid #b1c0c7;
    height: 29px;
    width: 29px;
    border-radius: 4px;
}
i.fa.fa-question-circle-o {
    font-size: 27px;
}
/* table css */
/* modal css */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
}
div#accountModal .modal-content {
    padding: 0 1em 0 1em;
    box-shadow: none;
    background: transparent;
    border: none;
    width: 100%;
}
span.blue_star {
    color: #32b1f8;
}
h4.modal-title.accountTitle {
    font-size: 18px;
}
select {
    display: block;
}
div#accountModal .row {
    margin: 0;
}
div#accountModal .input-field {
    margin: 1em 0 0 0;
}
div#accountModal .modal-footer {
    text-align: center;
    padding: 0;
    padding-top: 1em;
    margin-top: 10px;
    border: none;
}
button.saveBtn {
    background: #2791fc;
    border: none;
    height: 38px;
    width: 104px;
    color: #fff;
    margin-right: 1em;
    font-weight: 600;
    border-radius: 5px;
}
button.cancelBtn {
    background: #9f9a9a;
    border: none;
    height: 38px;
    width: 104px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
}
div#accountModal .modal-body {
    padding: 0;
}
div#accountModal input {
    border: 1px solid #f2f2f2;
    text-indent: 12px;
    opacity:1;
}
div#accountModal textarea {
    border: 1px solid #f2f2f2;
    text-indent: 12px;
    margin-bottom: 1em;
    height: auto !important;
}
div#accountModal select {
    background-color: #fafafa;
}

.check label span{
    display: inline-block;
    margin-left: 2em;
}
div#accountModal i.fa.fa-question-circle-o {
    font-size: 15px;
    margin-left: 10px;
}
div#accountModal {
    max-height: 83%;
}
div#accountModal .modal-header {
    padding-top: 0;
}

/* modal css */
/* order css */
/* Responsive css */
@media only screen and (min-width: 320px) and (max-width: 767px){
div#accountModal {
  width: 100%;
}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
div#accountModal {
    max-height: 50%;
}
}
@media only screen and (max-width: 1024px){
    div#accountModal {
        max-height: 39%;
    }
    }
/* Responsive css */


a {
    text-decoration: none;
  }
  
  /**
   * Hidden fallback
   */
  [hidden] {
    display: none;
    visibility: hidden;
  }
  
  
  /**
   * Styling top level items
   */
  .nav a,
  .nav label {
    display: block;
    padding: 0.85rem;
    color: #fff;
    background-color: #151515;
    box-shadow: inset 0 -1px #1d1d1d;
    transition: all 0.25s ease-in;
  }
  .nav a:focus, .nav a:hover,
  .nav label:focus,
  .nav label:hover {
    color: rgba(255, 255, 255, 0.5);
    background: #030303;
  }
  
  .nav label {
    cursor: pointer;
  }
  
  /**
   * Styling first level lists items
   */
  .group-list a,
  .group-list label {
    padding-left: 2rem;
    background: #252525;
    box-shadow: inset 0 -1px #373737;
  }
  .group-list a:focus, .group-list a:hover,
  .group-list label:focus,
  .group-list label:hover {
    background: #131313;
  }
  
  /**
   * Styling second level list items
   */
  .sub-group-list a,
  .sub-group-list label {
    padding-left: 4rem;
    background: #353535;
    box-shadow: inset 0 -1px #474747;
  }
  .sub-group-list a:focus, .sub-group-list a:hover,
  .sub-group-list label:focus,
  .sub-group-list label:hover {
    background: #232323;
  }
  
  /**
   * Styling third level list items
   */
  .sub-sub-group-list a,
  .sub-sub-group-list label {
    padding-left: 6rem;
    background: #454545;
    box-shadow: inset 0 -1px #575757;
  }
  .sub-sub-group-list a:focus, .sub-sub-group-list a:hover,
  .sub-sub-group-list label:focus,
  .sub-sub-group-list label:hover {
    background: #333333;
  }
  
  /**
   * Hide nested lists
   */
  .group-list,
  .sub-group-list,
  .sub-sub-group-list {
    height: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .nav__list input[type="checkbox"]:checked + label + ul {
    /* reset the height when checkbox is checked */
    max-height: 1000px;
  }
  
  /**
   * Rotating chevron icon
   */
  label > span {
    float: right;
    transition: -webkit-transform 0.65s ease;
    transition: transform 0.65s ease;
    transition: transform 0.65s ease, -webkit-transform 0.65s ease;
  }
  
  .nav__list input[type="checkbox"]:checked + label > span {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  
  
  li {
    width: 100%;
}