<section class="corder">
  <a href="#" class="floatEa">
    <i class="fa fa-envelope-o my-float"></i>
  </a>
  <div class="ft">
    <h1>Accounts
      <button class="addItema" data-toggle="modal" data-target="#accountModal"><i class="fa fa-plus-circle"
          aria-hidden="true"></i>Add</button>
    </h1>
  </div>
  <div class="card margina">
    <div class="tableide">
      <div class="row">
        <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th class="numeric">ACCOUNT TYPE</th>
                <th>SUPER ACCOUNT</th>
                <th>PARENT ACCOUNT</th>
                <th>NAME</th>
                <th>ACCOUNT CODE</th>
                <th>Opening Balance</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of accountlist1">
                <td class="thno" data-title="NO.">{{list.accountType}}</td>
                <td class="thname" data-title="VAT ID">{{list.super_parent_Account}}</td>
                <td class="thname" data-title="NAME">{{list.parentAccount}}</td>
                <td class="thname" data-title="NAME">{{list.accountName}}</td>
                <td class="thname" data-title="VAT ID">{{list.accountCode}}</td>

                <td class="thname" data-title="NAME">{{list.opening_account}}</td>
                <td class="thname" data-title="VAT ID">{{list.type}}</td>
                <td class="thname" data-title="VAT ID">
                  <i class="fa fa-pencil" aria-hidden="true" data-toggle="modal" data-target="#confirmModal"></i>
                  <i class="fa fa-trash" (click)="del(list._id)" aria-hidden="true"></i>
                </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- order -->

<!-- Button trigger modal -->
<!-- <button class="btn btn-primary btn-lg" >Launch demo modal</button> -->
<!-- Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span>

          </button>
          <h4 class="modal-title accountTitle">Create Account</h4>

        </div>
        <div class="modal-body">
          <form [formGroup]="accountForm">
            <div class="row">
              <div class="input-field col s3">
                <label>Account Type <span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <div class="check">
                  <input type="checkbox" id="check" (change)=inputcheck($event)>
                  <label for="check"> <span>Make this a Super-account<i class="fa fa-question-circle-o"
                        aria-hidden="true"></i></span></label>
                </div>



                <select formControlName="parent" *ngIf='parentbool'>
                  <option value="" disabled selected>Choose your option</option>

                  <option value="Asset">Assets</option>
                  <option value="Expense">Expenses</option>
                  <option value="Liability">Liability</option>

                  <option value="Revenue">Revenue</option>
                  <option value="Equity">Equity</option>
                </select>


                <select formControlName="parent" *ngIf='!parentbool' (change)=selecttype()>



                  <option value="" disabled selected>Choose your option</option>
                  <!-- <option *ngFor="let list of accountypelist" [value]='list._id'>{{list.accountName}}</option> -->

                  <option value="Asset" disabled>Assets</option>
                  <option *ngFor="let list of assets" [value]='list'>{{list}}</option>

                  <option value="Expense" disabled>Expenses</option>
                  <option *ngFor="let list of expenses" [value]='list'>{{list}}</option>


                  <option value="Liability" disabled>Liability</option>
                  <option *ngFor="let list of liabilities" [value]='list'>{{list}}</option>

                  <option value="Revenue" disabled>Revenue</option>
                  <option *ngFor="let list of revenue" [value]='list'>{{list}}</option>

                  <option value="Equity" disabled>Equity</option>
                  <option *ngFor="let list of equity" [value]='list'>{{list}}</option>




                </select>


                <p class="errormessage"
                  *ngIf="accountFormErrors.parent.required || (accountForm.controls.parent.pristine && submitted)">
                  Please choose one option</p>

                <div class="check" *ngIf='!parentbool'>
                  <input type="checkbox" id="check1" (change)=inputcheck1($event)>
                  <label for="check1"> <span>Make this a Child-account<i class="fa fa-question-circle-o"
                        aria-hidden="true"></i></span></label>
                </div>

                <select formControlName="parent" *ngIf='childbool'>
                  <option value="" disabled selected>Choose your option</option>

                  <option *ngFor="let list of levelteoacnt" [value]='list.accountName'>{{list.accountName}}</option>

                </select>
              </div>
            </div>





            <div class="row">
              <div class="input-field col s3">
                <label> Account Name <span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <input type="text" class="validate" formControlName="accountName">
                <p class="errormessage"
                  *ngIf="accountFormErrors.accountName.required || (accountForm.controls.accountName.pristine && submitted)">
                  Account Name can't be empty</p>

              </div>
            </div>




            <!-- <div class="row">
                <div class="input-field col s3">
                  <label>Account Code</label>
                </div>
                <div class="input-field col s7">
                  <input type="text" class="validate" formControlName="accountCode">
                  <p class="errormessage"
                    *ngIf="accountFormErrors.accountCode.required || (accountForm.controls.accountCode.pristine && submitted)">
                    Account code can't be empty</p>

                </div>
              </div> -->
            <div class="row">
              <div class="input-field col s3">
                <label>Description</label>
              </div>
              <div class="input-field col s7">
                <textarea cols="8" rows="4" placeholder="Max 500 characters" formControlName="description"></textarea>
                <p class="errormessage"
                  *ngIf="accountFormErrors.description.required || (accountForm.controls.description.pristine && submitted)">
                  Description can't be empty</p>


                <!-- <div class="check">
                  <input type="checkbox" id="checka">
                  <label for="checka"> <span> Add to the watchlist on my dashboard</span></label>
                </div> -->
              </div>
            </div>



            <div class="row">
              <div class="input-field col s3">
                <label>Opening Balance</label>
              </div>
              <div class="input-field col s7">
                  <input type="text" class="validate" formControlName="opening_account">
                <p class="errormessage"
                  *ngIf="accountFormErrors.opening_account.required || (accountForm.controls.opening_account.pristine && submitted)">
                  Description can't be empty</p>

              </div>
            </div>

            <div class="row">
              <div class="input-field col s3">
                <label>Choose type</label>
              </div>
              <div class="input-field col s7">
                <select formControlName="type">
                  <option value="" disabled selected>Choose your option</option>

                  <option value="credit">Credit</option>
                  <option value="debit">Debit</option>


                </select>
                <p class="errormessage"
                  *ngIf="accountFormErrors.type.required || (accountForm.controls.type.pristine && submitted)">
                  Description can't be empty</p>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="saveBtn" (click)="submit()">Save</button>
              <button type="button" class="cancelBtn" data-dismiss="modal" id='cancel'>Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- Confirm Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span>

          </button>
          <h4 class="modal-title accountTitle">Account</h4>

        </div>
        <div class="modal-body">
          <form [formGroup]="accountForm">
            



            <div class="row">
              <div class="input-field col s3">
                <label>Opening Balance</label>
              </div>
              <div class="input-field col s7">
                  <input type="text" class="validate" formControlName="opening_account">


              </div>
            </div>

            <div class="row">
              <div class="input-field col s3">
                <label>Choose type</label>
              </div>
              <div class="input-field col s7">
                <select formControlName="type">
                  <option value="" disabled selected>Choose your option</option>

                  <option value="credit">Credit</option>
                  <option value="debit">Debit</option>


                </select>
              
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="saveBtn" (click)="submit()">Save</button>
              <button type="button" class="cancelBtn" data-dismiss="modal" id='cancel'>Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Confirm Modal -->