<!-- period -->
<section class="createcontract">
	<div class="ft">
		<h1>Tender | Create
		</h1>
	</div>
	<div class="createContractorForm">
		<div class="row">
			<div class="col-md-12">
				<!-- input type -->
				<div>
					<div class="card corCard">
						<div class="row">
							<div class="col-md-12">
								<section class="container container--sm">
									<ul class="cd-accordion cd-accordion--animated margin-top--lg margin-bottom--lg">
										<li class="cd-accordion__item cd-accordion__item--has-children aT">
											<input class="cd-accordion__input" type="checkbox" name="group-2"
												id="group-2">
											<label class="cd-accordion__label cd-accordion__label--icon-folder"
												for="group-2"><span class="comt">Company</span>

												<label class="t_a">
													<input type="checkbox" class="filled-in" (change)="selectAll()"
														[checked]="selectedAll" />
													<span></span>
												</label>
											</label>

											<ul class="cd-accordion__sub cd-accordion__sub--l1">
												<li class="cd-accordion__item"><a
														class="cd-accordion__label cd-accordion__label--icon-img"
														*ngFor="let n of names"><span>
															{{n.name}}
														</span>
														<label class="t_a">
															<input type="checkbox" 
																[(ngModel)]="n.selected"
																(change)="checkIfAllSelected(i)" />
															<span></span>
														</label></a></li>

											</ul>
										</li>










										<!-- <li class="cd-accordion__item cd-accordion__item--has-children aT">
											<input class="cd-accordion__input" type="checkbox" name="group-1"
												id="group-1">
											<label class="cd-accordion__label cd-accordion__label--icon-folder"
												for="group-1"><span class="comt">Fleet</span>
											
											</label>

											<ul class="cd-accordion__sub cd-accordion__sub--l1"
												*ngFor="let truck of fleetDetail">
												<li class="cd-accordion__item cd-accordion__item--has-children">
													<input class="cd-accordion__input" type="checkbox"
														name="sub-group-1" id="sub-group-1">
													<label class="cd-accordion__label cd-accordion__label--icon-folder"
														for="sub-group-1"><span
															class="truck1">{{truck.truck_number}}</span>
														<label class="t_a">
															<input type="checkbox" (change)="selectAlltruck()"
																[checked]="truck.selectalltruck" />
															<span></span>
														</label></label>

													<ul class="cd-accordion__sub cd-accordion__sub--l2">
														<li class="cd-accordion__item" *ngFor="let truck of fleetsdata">
															<a
																class="cd-accordion__label cd-accordion__label--icon-img"><span>
																	{{truck.key}}
																</span>
																<label class="t_a">
																	<input type="checkbox" (change)="selecttruck()"
																		[checked]="truck.selectdoc" />
																	<span></span>
																</label></a></li>
														<li class="cd-accordion__item"><a
																class="cd-accordion__label cd-accordion__label--icon-img"><span>
																	Road Registration Certificate
																</span>
																<label class="t_a">
																	<input type="checkbox" />
																	<span></span>
																</label></a></li>
														<li class="cd-accordion__item"><a
																class="cd-accordion__label cd-accordion__label--icon-img"><span>
																	Road Registration Certificate
																</span>
																<label class="t_a">
																	<input type="checkbox" />
																	<span></span>
																</label></a></li>
													</ul>
												</li>

											</ul>
										</li> -->









											truck data
										<ul *ngFor="let truck of truck ;let i= index">
											<li style="margin-top: 3em">
												<span>{{truck.maindata.number}}</span>
												<input type="checkbox" />
												<label class="t_a">
													<input type="checkbox" value="{{truck.maindata.selectalltruck}}"
														(change)="selectAlltruck(i)"
														[checked]='truck.maindata.selectalltruck' />
													<span></span>
												</label>

												<ul>
													<li *ngFor="let keys of truck.key" style="margin-left: 2em">
														<span>{{keys.key}} </span>
														<label class="t_a">
																
															<input type="checkbox" value="{{keys.key}}"
																[(ngModel)]="keys.selectdoc"
																(change)="checkIftrcukSelected(i)" />
															<span></span>
														</label>

													</li>
												</ul>
											</li>
										</ul>






										driver data
										<ul *ngFor="let driver of drivers ;let i= index">
											<li style="margin-top: 3em">
												<span>{{driver.maindata.name}}</span>
												<input type="checkbox" />
												<label class="t_a">
													<input type="checkbox" value="{{driver.maindata.selectalldriver}}"
														(change)="selectAlldriver(i)"
														[checked]='driver.maindata.selectalldriver' />
													<span></span>
												</label>

												<ul>
													<li *ngFor="let keys of driver.key" style="margin-left: 2em">
														<span>{{keys.key}} </span>
														<label class="t_a">
															<input type="checkbox" value="{{keys.key}}"
																[(ngModel)]="keys.selectdoc"
																(change)="checkIfdriverSelected(i)" />
															<span></span>
														</label>

													</li>
												</ul>
											</li>
										</ul>



















										<li class="cd-accordion__item cd-accordion__item--has-children aT">
											<input class="cd-accordion__input" type="checkbox" name="group-4"
												id="group-4">
											<label class="cd-accordion__label cd-accordion__label--icon-folder"
												for="group-4"><span class="comt">Driver</span>
												<label class="t_a">
													<input type="checkbox" class="filled-in" />
													<span></span>
												</label>
											</label>

											<ul class="cd-accordion__sub cd-accordion__sub--l1">
												<li class="cd-accordion__item cd-accordion__item--has-children">
													<input class="cd-accordion__input" type="checkbox"
														name="sub-group-3" id="sub-group-3">
													<label class="cd-accordion__label cd-accordion__label--icon-folder"
														for="sub-group-3"><span class="truck1">Driver
															1</span>
														<label class="t_a">
															<input type="checkbox" />
															<span></span>
														</label>
													</label>

													<ul class="cd-accordion__sub cd-accordion__sub--l2">
														<li class="cd-accordion__item"><a
																class="cd-accordion__label cd-accordion__label--icon-img"><span>
																	Road Registration Certificate
																</span>
																<label class="t_a">
																	<input type="checkbox" />
																	<span></span>
																</label></a></li>
														<li class="cd-accordion__item"><a
																class="cd-accordion__label cd-accordion__label--icon-img"><span>
																	Road Registration Certificate
																</span>
																<label class="t_a">
																	<input type="checkbox" />
																	<span></span>
																</label></a></li>
													</ul>
												</li>
												<!-- <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img" ><span>Image</span></a></li> -->
												<!-- <li class="cd-accordion__item"><a class="cd-accordion__label cd-accordion__label--icon-img" ><span>Image</span></a></li> -->
											</ul>
										</li>




									</ul>
								</section>
							</div>
						</div>

					</div>
					<div class="row">
						<div class="contractorButton">
							<button class="submitBtn" (click)="submit()">Submit</button>
							<button class="cancelBtn" (click)="cancel()">Cancel</button>
						</div>
					</div>
				</div>




				<!-- input type -->





			</div>
		</div>

	</div>
</section>

<!-- period -->