<!-- period -->
<section class="createcontract">
	<div class="ft">
		<h1>Tender | Create
		</h1>
	</div>
	<div class="createContractorForm">
		<div class="row">
			<div class="col-md-12 ">
				<!-- input type -->
				<div>



					<div class="card" *ngIf="active=='first'">
							<h4>Company</h4>

									<ul class="uls">



											<li class="parent" style="margin-top: 3em">
				
												<div class="row">
														<div class="col-md-2"></div>
													<div class="col-md-5">
														<span class="title" (click)="opencomp()">Company</span>
													</div>
													<div class="col-md-5">
														<label class="t_a">
															<input type="checkbox" class="filled-in" (change)="selectAll()"
																[checked]="selectedAll" />
															<span></span>
														</label>
													</div>
												</div>
				
				
				
				
												<ul>
													<li *ngFor="let n of names">
														<div class="row">
																<div class="col-md-2"></div>
															<div class="col-md-5">
																<span style="padding-left: 2em">{{n.name}} </span>
															</div>
															<div class="col-md-5">
																<label class="t_a">
				
																	<input type="checkbox" [(ngModel)]="n.selected"
																		(change)="checkIfAllSelected(i)" />
																	<span></span>
																</label>
															</div>
														</div>
				
				
				
				
													</li>
												</ul>
											</li>
										</ul>
										<div class="contractorButton">
											<button (click)="select('second')">Fleet  <i class="fa fa-2x fa-angle-double-right"></i> </button>
										</div>
							
						








					</div>


					<div class="card" *ngIf="active=='second'">
						<h4>Fleet</h4>
						<ul class="uls" *ngFor="let truck of truck ;let i= index">

							<div class="row">
									<div class="col-md-2"></div>
								<div class="col-md-5"> <span class="title"
										(click)="openacc(i)">{{truck.maindata.number}}</span>
								</div>
								<div class="col-md-5">

									<label class="t_a">
										<input type="checkbox" value="{{truck.maindata.selectalltruck}}"
											(change)="selectAlltruck(i)" [checked]='truck.maindata.selectalltruck' />
										<span></span>
									</label>
								</div>
							</div>

							<li class="parent" style="margin-top: 1em">




								<ul class="child" [ngClass]="{'first': opens==i}">
									<li *ngFor="let keys of truck.key">
										<div class="row">
												<div class="col-md-2"></div>

											<div class="col-md-5"> <span style="padding-left: 2em">{{keys.key}} </span>
											</div>
											<div class="col-md-5"> <label class="t_a">

													<input type="checkbox" value="{{keys.key}}"
														[(ngModel)]="keys.selectdoc"
														(change)="checkIftrcukSelected(i)" />
													<span></span>
												</label>
											</div>
										</div>


									</li>
								</ul>
							</li>
						</ul>
						<div class="contractorButton">
							<button (click)="select('first')"><i class="fa fa-2x fa-angle-double-left"></i>  Company</button>


							<button (click)="select('third')">Driver  <i class="fa fa-2x fa-angle-double-right"></i> </button>
						</div>


					</div>


					<div class="card" *ngIf="active=='third'">
						<h4>Drivers</h4>
						<ul class="uls" *ngFor="let driver of drivers ;let i= index">
							<li style="margin-top: 2em">
								<div class="row">
										<div class="col-md-2"></div>

									<div class="col-md-5"> <span class="title"
											(click)="opendriver(i)">{{driver.maindata.name}}</span>
									</div>
									<div class="col-md-5"> <label class="t_a">
											<input type="checkbox" value="{{driver.maindata.selectalldriver}}"
												(change)="selectAlldriver(i)"
												[checked]='driver.maindata.selectalldriver' />
											<span></span>
										</label></div>
								</div>



								<ul class="child" [ngClass]="{'first': openss==i}">
									<li *ngFor="let keys of driver.key">
										<div class="row">
												<div class="col-md-2"></div>

											<div class="col-md-5"><span style="padding-left: 2em">{{keys.key}} </span>
											</div>
											<div class="col-md-5">
												<label class="t_a">
													<input type="checkbox" value="{{keys.key}}"
														[(ngModel)]="keys.selectdoc"
														(change)="checkIfdriverSelected(i)" />
													<span></span>
												</label></div>
										</div>


									</li>
								</ul>
							</li>
						</ul>
						<div class="contractorButton">
							<button (click)="select('second')"> <i class="fa fa-2x fa-angle-double-left"></i>  Fleet </button>
						</div>

					</div>
					<div class="row">
						<div class="contractorButton">
							<button class="submitBtn" (click)="submit()">Submit</button>
							<button class="cancelBtn" (click)="cancel()">Cancel</button>
						</div>
					</div>
				</div>




				<!-- input type -->





			</div>
		</div>

	</div>
</section>

<!-- period -->