<!-- invite -->
<section class="fleet">
    <!-- <a href="#" class="floatEa">
        <i class="fa fa-envelope-o my-float"></i>
        </a> -->
    <div class="ft">
      <h1>Invite</h1>
    </div>
    <div class="row">
      <div class="card fleetCard">
          <div class="row">
              <form class="col s12">
                <div class="fleetForm">
                <div class="row">
                  <div class="input-field col s12 toeta">
                      <label class="vname">Email: <span class="multiply">*</span></label>
                      <input placeholder="" id="Lname" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="contractorButton">
                      <button class="submitBtn">Save</button>
                      <button class="cancelBtn">Cancel</button>
                    </div>
                  </div>
                  </div>
              </form>
            </div>
      </div>
    </div>
    </section>
    <!-- invite -->