<!-- create contractor -->
<section class="createcontract">
  <div class="ft">
    <h1>Contractor | Create
    </h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4">
        <div class="card corCard">
          <div class="row">
            <form class="col s12">
              <div class="contractForm">
                <div class="row">
                  <label class="vname">Name<span class="multiply">*</span></label>
                  <div class="input-field col s12 toet">
                    <input placeholder="" id="name" type="text" class="validate">
                  </div>
                </div>
                <div class="row">
                  <label class="vname">Short Name</label>
                  <div class="input-field col s12 toet">
                    <input placeholder="" id="Lname" type="text" class="validate">
                  </div>
                </div>
                <div class="row">
                  <label class="vname">VAT ID</label>
                  <div class="input-field col s12 toet">
                    <input placeholder="" id="vid" type="text" class="validate">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card corCard">
          <div class="row">
            <form class="col s12">
              <div class="contractForm">
                <div class="row">
                  <label class="vname">Name :</label>
                  <div class="input-field col s12 toet">
                    <input placeholder="" id="name" type="text" class="validate">
                  </div>
                </div>
                <div class="row">

                  <div class="input-field col s4 toeta">
                    <label class="vnamea">Street:</label>
                    <input placeholder="" id="Lname" type="text" class="validate">
                  </div> 

                  <div class="input-field col s4 toeta">
                    <label class="vnamea">Building:</label>
                    <input placeholder="" id="Lname" type="text" class="validate">
                  </div>

                  <div class="input-field col s4 toeta">
                    <label class="vnamea">Premise:</label>
                    <input placeholder="" id="Lname" type="text" class="validate">
                  </div>
                </div>
                <div class="row">

                    <div class="input-field col s4 toeta">
                      <label class="vnamea">Postal Code:</label>
                      <input placeholder="" id="Lname" type="text" class="validate">
                    </div>
  
                    <div class="input-field col s4 toeta">
                      <label class="vnamea">City:</label>
                      <input placeholder="" id="Lname" type="text" class="validate">
                    </div>
  
                    <div class="input-field col s4 toeta">
                      <label class="vnameat">Country: <span class="multiply">*</span></label>
                      <select>
                          <option value="" disabled selected>Country</option>
                          <option value="1">India</option>
                          <option value="2">USA</option>
                          <!-- <option value="3">Option 3</option> -->
                        </select>
                    </div>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="contractorButton">
      <button class="submitBtn">Save</button>
      <button class="cancelBtn">Cancel</button>
    </div>
  </div>
</section>

<!-- create contractor -->