<!-- journal -->
<section class="createcontract">
  <div class="ft">
    <h1>Invoice | Create
    </h1>
  </div>
  <form class="createContractorForm" [formGroup]="myForm">
    <div class="row">
      <div class="col-md-12">
        <!-- input type -->
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">

                  <div class="input-field col s6">
                    <p><label>Customer Name <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="customer">

                  </div>
                  <div class="input-field col s6">
                    <p><label>Invoice #<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" [readonly]=true>

                  </div>

                </div>
                <div class="row">


                  <div class="input-field col s6">
                    <p><label>Order Number</label></p>
                    <input type="text" class="validate" >

                  </div>

                  <div class="input-field col s6">
                    <p><label>Invoice Date<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="invoice_date" >
                  </div>





                </div>

               

                <div class="row">

                  <div class="input-field col s6">
                    <p><label>Terms</label></p>
                    <select class="orga" formControlName="terms">
                      <option value="" disabled selected>Due On Receipt</option>
                      <option value="rupees">NET 15</option>
                      <option value="rupees">NET 30</option>
                      <option value="rupees">NET 45</option>
                      <option value="rupees">NET 60</option>
                      <option value="rupees">Due end of the month</option>
                      <option value="rupees">Due end of next month</option>
                      <option value="rupees">Due on receipt</option>
                      <option value="rupees">Custom</option>

                    </select>
                  </div>
                  <div class="input-field col s6">
                    <p><label>Due Date<span class="blue_star">*</span></label></p>
                    <input type="date" class="validate" formControlName="due_date">
                  </div>

                </div>
                <div class="row">


                  <div class="input-field col s6">
                    <p><label>Period (Start Date)</label></p>
                    <input type="text" class="validate" >

                  </div>

                  <div class="input-field col s6">
                    <p><label>Period (End Date)</label></p>
                    <input type="text" class="validate" formControlName="invoice_date" >
                  </div>





                </div>

                <div >

                  <div class="tableide journalTable">
                    <div class="row">
                      <div id="no-more-tables">
                        <table class="col-md-12 table-bordered table-striped table-condensed cf" formArrayName="arraydata">
                          <thead class="cf">
                            <tr>
                              <th>S NO.</th>
                              <th>CONSIGNMENT NOTE NO.</th>
                              <th>DESCRIPTION</th>
                              <th>AMOUNT</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr >
                                <!-- *ngFor="let phone of phoneForms.controls; let i=index" 
                                [formGroupName]="i" -->
                              <td class="thname"><input type="text" style="border: none !important" formControlName="serial_number"></td>
                              <td class="thname">
                                  <select >
                                      <option value="" disabled selected>Select</option>
                                      <option value="1">a</option>
                                    </select>
                              </td>
                              <td class="thname"><input type="text" style="border: none !important" formControlName="invoice_number" ></td>
                              <td class="thname"><input type="text" style="border: none !important" formControlName="item"></td>
                             

                        
                            </tr>
                          </tbody>
                        </table>



                        <div class="row">
                          <div class="col-md-6">
                            <div class="thno">
                              <button class="At" (click)="addPhone()">+&nbsp;&nbsp;Add Another Line</button>
                            </div>
                          </div>
                          <div>
                            <div class="col-md-6 hrTag">
                              <div class="row total">
                                <div class="col-md-6">
                                  <div class="thno">
                                    Sub Total
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    0
                                  </div>
                                </div>
                              </div>
                              <hr>
                              <div class="row a_t">
                                <div class="col-md-6">
                                  <div class="thno" style="margin-top:9px">
                                    Adjustment
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    <input type="text" placeholder="amount" style="margin:0">
                                  </div>
                                </div>
                              </div>
                              <hr>
                              <div class="row a_t">
                                <div class="col-md-6">
                                  <div class="thno" style="margin-top:9px">
                                    GST
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-md-6" style="padding:0">
                                      <div class="thno">
                                        <input type="text" placeholder="rate" style="margin:0">
                                      </div>
                                    </div>
                                    <div class="col-md-6" style="padding-right:0">
                                      <div class="thno">
                                        <input type="text" placeholder="amount" style="margin:0">
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                              <hr>
                              <div class="row" style="padding-top:1em">
                                <div class="col-md-6">
                                  <div class="thno">
                                    Total ( ₹ )
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    0
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                        <hr style="border-top:1px dotted ">
                        <div class="row">
                          <div class="col-md-6">
                            <label>Customer Notes</label>
                            <textarea rows="4" cols="50" style="height:6em"
                              placeholder="Thanks for your business." ></textarea>
                          </div>
                          <div class="col-md-6">
                            <label>Terms & Conditions</label>
                            <textarea rows="6" cols="50" style="height: 6em"
                              placeholder="Mention your company's Terms and conditions" ></textarea>
                          </div>
                        </div>


                      </div>


                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="submit()">Save as Draft</button>
              <button class="submitBtn" (click)="submitdraft()">Save and Send</button>
              <button class="cancelBtn" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </form>
</section>

<!-- journal -->