<div class="loading" *ngIf="loader">
  <div class="sk-circle">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
  </div>
</div>
<!-- Loader -->
<!-- rate-->
<section class="corder">
  <div class="ft">
    <h1>Rate
      <!-- <button class="addItema" (click)="createFleet()"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button> -->
    </h1>
  </div>


  <div class="row customera">
    <div class="input-field col s3">
      <p><label>Customer <span class="blue_star">*</span></label></p>
      <select class="orga" [(ngModel)]="query">
        <option value="" disabled selected>Select</option>
        <option *ngFor="let list of contactlist" [value]="list._id">{{list.name}}</option>

      </select>
    </div>
    <div class="input-field col s3">
      <p><label>Unit <span class="blue_star">*</span></label></p>
      <select class="orga">
        <option value="" disabled selected>Select</option>
        <option value="pices">Piece</option>
        <option value="kl">KL</option>
        <option value="ton">Ton</option>
      </select>
    </div>
    <div class="input-field col s3">
      <p><label>Start Date <span class="blue_star">*</span></label></p>
      <input type="date" class="validate">

    </div>
    <div class="input-field col s2">
      <p><label>End Date <span class="blue_star">*</span></label></p>
      <input type="date" class="validate">

    </div>
    <div class="input-field col s1">
      <button class="filter"><i class="fa fa-filter" aria-hidden="true"></i></button>

    </div>
  </div>
  <div class="card margina">

    <div class="tableide">

      <div class="row">
        <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th class="numeric">CUSTOMER</th>
                <th>WITHIN STATE</th>
                <th>TRUCK CONFIG</th>
                <th>FROM KM</th>
                <th>TO KM</th>
                <th>RATE</th>
                <th>UNIT</th>
                <th>PRICE TYPE</th>
                <th>EFFECTIVE DATE FROM</th>
                <th>EFFECTIVE DATE TO</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of ratelist ">
                <td class="thno">{{item?.customerId?.name}}</td>
                <td class="thno">{{item?.within_state}}</td>
                <td class="thno">{{item?.truck_confg}}</td>
                <td class="thno">{{item?.from_km}}</td>
                <td class="thno">{{item?.to_km}}</td>
                <td class="thno">{{item?.rate}}</td>
                <td class="thno">{{item?.unit}}</td>
                <td class="thno">{{item?.price_type}}</td>
                <td class="thno">{{item?.effactive_date_from | date:mediumDate}}</td>
                <td class="thno">{{item?.effactive_date_to  | date:mediumDate}}</td>
              </tr>
              <tr>
                <td class="thno" data-title="NO.">
                  <select class="orga" [(ngModel)]="customer" (change)="selectcustomer(customer)">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let list of contactlist" [value]="list._id">{{list.name}}</option>

                  </select>
                </td>
                <td class="thname" data-title="NAME">


                  <select class="orga" [(ngModel)]="state">
                    <option value="" disabled selected>Select</option>
                    <option value=true>yes</option>
                    <option value=false>no</option>
                  </select>
                </td>

                <td class="thno" data-title="NO.">



                  <select class="orga" [(ngModel)]="truckconfig">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let item of tconfig" [value]="item">{{item}}</option>
                  </select>


                </td>
                <td class="thno" data-title="NO.">
                  <input type="text" [(ngModel)]="fromkm">


                </td>

                <td class="thno" data-title="NO."><input type="text" [(ngModel)]="tokm"></td>
                <td class="thno" data-title="NO."><input type="text" [(ngModel)]="rate"></td>

                <td class="thno" data-title="NO.">
                  <select class="orga" [(ngModel)]="unit">
                    <option value="" disabled selected>Select</option>
                    <option *ngFor="let item of units" [value]="item">{{item}}</option>
                  </select>


                  <td class="thno" data-title="NO.">
                    <select class="orga" [(ngModel)]="price_type">
                      <option value="" disabled selected>Select</option>
                      <option value="fdz">fdz</option>
                      <option value="bfdz">bfdz</option>
                    </select>
                  </td>                <td class="thno" data-title="NO."><input type="date" [(ngModel)]="startdate"></td>
                <td class="thno" data-title="NO."><input type="date" [(ngModel)]="enddate"></td>
                <td class="thno" data-title="NO."><span (click)="submit()">&#10004;</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <button class="addBtna">+ Add</button>
  </div> -->
</section>
<!-- rate -->
