


<!-- Fleet management -->
<section class="fleet">
  <div class="ft">
    <h1>Fleet Detail</h1>
  </div>
  <div class="row">
    <div class="card fleetCard">
      <div class="row">
        <form class="col s12">
          <div class="fleetForm">
            <div class="row">



              <div class="input-field col s4">
                <p><label>Truck Number</label></p>
                <input type="text" class="validate" [(ngModel)]="trucknumber" [ngModelOptions]="{standalone: true}"
                  (keyup)="check('trucknumber')">
                <p class="errormessage" *ngIf="truckerr">Truck number can't be empty</p>
              </div>

              <div class="input-field col s4">
                  <p><label>Truck Capacity(Cal)</label></p>
                  <input type="text" class="validate" [(ngModel)]="truckcapacity" [ngModelOptions]="{standalone: true}"
                    (keyup)="check('truckcapacity')">
                  <p class="errormessage" *ngIf="caperr">Truck capacity can't be empty</p>
                </div>

              <div class="input-field col s4">
                <p><label>Ownership <span class="blue_star">*</span></label></p>
                <select [(ngModel)]="ownership" [ngModelOptions]="{standalone: true}" (ngModelChange)="check('ownership',$event)">
                  <option value="" disabled selected>Ownership</option>
                  <option [value]='superadminid'>Owned</option>
                  <option *ngFor="let contractor of contractorDetail" [value]='contractor._id'>{{contractor.companyName}}</option>

                </select>
                <p class="errormessage" *ngIf="ownererr">please choose ownership</p>
              </div>
            </div>

            <p><span class="blue_star">******Upload Files</span></p>
            <div class="row">


              <div class="input-field col s3">
                <p><label>Document <span class="blue_star">*</span></label></p>
                <select [(ngModel)]="selectedOption" [ngModelOptions]="{standalone: true}"
                  (change)="check1('selectedOption' ,selectedOption)">
                  <option value="" disabled selected>Document</option>
                  <option *ngFor="let title of doccuments" [value]='title'>{{title}}</option>
                </select>
                <p *ngIf="selecterr">please choose document</p>
              </div>


              <div class="input-field col s3">
                <p><label>Company Logo</label></p>
                <div class="input-field myFilet aeto"><input type="file" class="validate" class="fileType" #mydoc
                    (change)="upload($event,selectedOption)" [(ngModel)]="selected.file" (keyup)="check1('file')"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>


              <div class="input-field col s3">
                <p><label>Doc Number</label></p>
                <input (keyup)="check1('numbers',selectedOption)" placeholder="Enter Number" id="first_name" type="text"
                  [(ngModel)]="selected.number" class="validate" [ngModelOptions]="{standalone: true}">
                <p *ngIf="docuerr">can't be empty</p>
              </div>


              <div class="input-field col s3">
                <p><label>Valid Upto</label></p>
                <input (keyup)="check1('valid',selectedOption)"  id="first_name" type="date"
                  [(ngModel)]="selected.valid" class="validate" [ngModelOptions]="{standalone: true}">
                <p *ngIf="validerr">can't be empty</p>
              </div>


              <div class="input-field col s1">
                <!-- <button class="addBtn" (click)="add(selected,selectedOption)">+</button> -->
              </div>


              <div class="input-field col s3" *ngIf='otherbool'>
                <p><label>Name</label></p>
                <input (keyup)="check1('other1',selectedOption)" placeholder="Enter Number" type="text"
                  [(ngModel)]="othername" class="validate" [ngModelOptions]="{standalone: true}">
              </div>


              <div class="input-field col s3" *ngIf='other2bool'>
                <p><label> Name</label></p>
                <input (keyup)="check1('other2',selectedOption)" placeholder="Enter Number" type="text"
                  [(ngModel)]="othername2" class="validate" [ngModelOptions]="{standalone: true}">
              </div>

            </div>


            <div class="row at">
              <div class="col-md-4">
                <p class="docType">DOC Type</p>

              </div>
              <div class="col-md-4">
                <p class="docType">DOC Name</p>

              </div>
              <div class="col-md-4">
                <p class="docType">VALID UPTO</p>

              </div>
            </div>
            <div class="row at" *ngFor='let x of vardata'>
              <div class="col-md-4">
                <p class="docType ae">{{x.title}}</p>

              </div>
              <div class="col-md-4">
                <p class="docType ae">{{x.main.number}}</p>

              </div>
              <div class="col-md-4">
                <p class="docType ae">{{x.main.valid_upto}}</p>

              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="contractorButton">
        <button class="submitBtn" (click)="submit()">Submit</button>
        <button class="cancelBtn" (click)="createFleet()">Cancel</button>
      </div>
    </div>
  </div>
</section>
<!-- Fleet management -->