<!-- ledger -->
<section class="createcontract">
  <div class="ft">
    <h1>Ledger
    </h1>
  </div>
  <div class="createContractorForm" >
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Account Id</label></p>
                    <select  >
                      <option value="" disabled selected>Select</option>
                      <option value="" >Ledger</option>
                    </select>

                  </div>
                  <div class="input-field col s4">
                    <p><label>Start Date</label></p>
                    <input type="date" class="validate">

                  </div>
                  <div class="input-field col s4">
                    <p><label>End Date</label></p>
                    <input type="date" class="validate">

                  </div>
            

                </div>
             

              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="submit()">Save</button>
              <button class="cancelBtn" (click)="createworkorder()">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </div>
</section>

<!-- ledger -->