<!-- contact -->
<section class="createcontract" >
  <div class="ft">
    <h1>Driver | Create
    </h1>
  </div>
  <form class="createContractorForm" [formGroup]="driverForm">
    <div class="row">
      <div class="col-md-12">
        <!-- input type -->
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">

<div class="row">


<div class="col-md-6">
  <div class="row">
    <div class="input-field col s12">
        <p><label>Name</label></p>
        <input type="text" class="validate" formControlName="name">
        <!-- <p class="errormessage" *ngIf="contactFormErrors.company_name.required || (contactForm.controls.company_name.pristine && submitted)">Company name can't be empty</p> -->

      </div>
    </div>
    <div class="row">
                
        <div class="input-field col s12">
          <p><label>Phone Number</label></p>
          <input type="text" class="validate" formControlName="phoneNumber">
          <!-- <p class="errormessage" *ngIf="contactFormErrors.phoneNumber.required || (contactForm.controls.phoneNumber.pristine && submitted)">Phone Number can't be empty</p> -->

        </div>

      </div>

</div>
<div class="col-md-6">
    <!-- <img src="../../../assets/p4.png">
  <button>
    <input type="file">
  </button> -->
  
  
  <div class="container">
      <div class="avatar-upload">
          <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
              <label for="imageUpload"></label>
          </div>
          <div class="avatar-preview">
              <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
              </div>
          </div>
      </div>
  </div>
  
  
  
  </div>
</div>







              
                <div class="row">
                  <div class="input-field col s3">
                    <p><label>License <span class="blue_star">*</span></label></p>
                    <select (change)='selectedValue($event.target.value)'>
                      <option value="" disabled selected>Document</option>
                      <option *ngFor="let name of document" [value]="name">{{name}}</option>
                      <option >others</option>
                      <!-- <option>Police Verification</option>
                      <option>Others</option> -->
                    </select>
                    <!-- <p *ngIf="selecterr">please choose document</p> -->
                  </div>
                  <div class="input-field col s3">
                    <p><label>Doc Upload</label></p>
                    <div class="input-field myFilet aeto"><input type="file" class="validate" class="fileType">
                    </div>
                  </div>
                  <div class="input-field col s3">
                    <p><label>Doc Number</label></p>
                    <input placeholder="Enter Number" id="first_name" type="text" class="cote validate" formControlName="number">
                      <!-- <p *ngIf="docuerr">can't be empty</p> -->
                  </div>
                  <div class="input-field col s2">
                    <p><label>Valid Upto</label></p>
                    <input placeholder="dd/mm/yyyy" id="first_name" type="text" class="cote validate" formControlName="valid_upto">
                      <!-- <p *ngIf="validerr">can't be empty</p> -->
                  </div>
                  <div class="input-field col s1">
                    <button class="addBtn">+</button>
                  </div>
    
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="submit()">Next</button>
              <button class="cancelBtn" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </form>
</section>

<!-- contact -->