<!-- bill list-->
<section class="corder" *ngIf="bill">
  <a href="#" class="floatEa">
      <i class="fa fa-envelope-o my-float"></i>
      </a>
  <div class="ft">
    <h1>Bill
      <button class="addItema" (click)="createbill()"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
    </h1>
  </div>
  <div class="card margina">
      <div class="tableide">
          <div class="row">
              <div id="no-more-tables">
                  <table class="col-md-12 table-bordered table-striped table-condensed cf">
                  <thead class="cf">
                    <tr>
                      <th>DATE</th>
                      <th>BILL #</th>
                      <th>REFERENCE NUMBER</th>
                      <th>VENDOR NAME</th>
                      <th>STATUS</th>
                      <th>DUE DATE</th>
                      <th>AMOUNT</th>
                      <th>BALANCE DUE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="thno" data-title="NO.">-</td>
                      <td class="thname" data-title="NAME"></td>
                      <td class="thname" data-title="VAT ID"></td>
                      <td data-title="ADDRESS" class="numeric"></td>
                      <td data-title="VAT ID" class="numeric"></td>
                      <td data-title="VAT ID" class="numeric"></td>
                      <td data-title="VAT ID" class="numeric"></td>
                      <td data-title="VAT ID" class="numeric"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>

  </div>
  </section>
  <!-- bill list -->



<!-- bill -->
<section class="createcontract" *ngIf="!bill">
  <div class="ft">
    <h1>Bill | Create
    </h1>
  </div>
  <form class="createContractorForm">
    <div class="row">
      <div class="col-md-12">
        <!-- input type -->
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">

                  <div class="input-field col s6">
                    <p><label>Vendor Name <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate">

                  </div>
                  <div class="input-field col s6">
                    <p><label>Bill #<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" [readonly]=true>

                  </div>

                </div>
                <div class="row">


                  <div class="input-field col s6">
                    <p><label>Order Number</label></p>
                    <input type="text" class="validate">

                  </div>

                  <div class="input-field col s6">
                    <p><label>Bill Date<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate">
                  </div>





                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Due Date<span class="blue_star">*</span></label></p>
                    <input type="date" class="validate">
                  </div>
                  <div class="input-field col s6">
                    <p><label>Payment Terms</label></p>
                    <select class="orga">
                      <option value="" disabled selected>Due On Receipt</option>
                      <option value="rupees">NET 15</option>
                      <option value="rupees">NET 30</option>
                      <option value="rupees">NET 45</option>
                      <option value="rupees">NET 60</option>
                      <option value="rupees">Due end of the month</option>
                      <option value="rupees">Due end of next month</option>
                      <option value="rupees">Due on receipt</option>
                      <option value="rupees">Custom</option>

                    </select>
                  </div>


                </div>


                <form>

                  <div class="tableide journalTable">
                    <div class="row">
                      <div id="no-more-tables">
                        <table class="col-md-12 table-bordered table-striped table-condensed cf billTable">
                          <thead class="cf">
                            <tr>
                              <th>SR NO.</th>
                              <th>TANK TRUCK NO.</th>
                              <th>LOAD NO.</th>
                              <th>LOAD DATA</th>
                              <th>ORIGIN</th>
                              <th>DESTINATION</th>
                              <th>FREIGHT AMOUNT</th>
                              <th>EXPENSES</th>
                              <th>HSD(LTS)</th>
                              <th>RATE</th>
                              <th>AMOUNT</th>
                              <th>LUB</th>
                              <th>HSD/KM/LTS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>

                              <td class="thname"><input type="text" style="border: none !important"></td>
                              <td class="thname"><input type="text" style="border: none !important"></td>
                              <td class="thname"><input type="text" style="border: none !important"></td>
                              <td class="thname"><input type="text" style="border: none !important"></td>
                              <td class="thname"><input type="text" style="border: none !important"></td>
                              <td class="thname"><input type="text" style="border: none !important"></td>

                              <td class="thname"><input type="text" style="border: none !important"></td>

                              <td class="thname"><input type="text" style="border: none !important"></td>

                              <td class="thname"><input type="text" style="border: none !important"></td>
                            
                            <td class="thname"><input type="text" style="border: none !important"></td>
                            <td class="thname"><input type="text" style="border: none !important"></td>
                            <td class="thname"><input type="text" style="border: none !important"></td>
                            <td class="thname"><input type="text" style="border: none !important"></td>


                            </tr>
                          </tbody>
                        </table>



                        <div class="row">
                          <div class="col-md-6">
                            <div class="thno">
                              <button class="At">+&nbsp;&nbsp;Add Another Line</button>
                            </div>
                          </div>
                          <div>
                            <div class="col-md-6 hrTag">
                              <div class="row total">
                                <div class="col-md-6">
                                  <div class="thno">
                                    Sub Total
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    0
                                  </div>
                                </div>
                              </div>
                              <hr>
                              <div class="row a_t">
                                <div class="col-md-6">
                                  <div class="thno" style="margin-top:9px">
                                    Discount
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    <select>
                                      <option disabled>₹</option>
                                      <option>%</option>
                                    </select>
                                  </div>

                                </div>
                              </div>
                              <hr>
                              <div class="row a_t">
                                <div class="col-md-6">
                                  <div class="thno" style="margin-top:9px">
                                    TDS
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    <select>
                                      <option disabled>Select a Tax</option>
                                      <option>a</option>
                                    </select>
                                  </div>

                                </div>
                              </div>
                              <hr>
                              <div class="row a_t">
                                <div class="col-md-6">
                                  <div class="thno" style="margin-top:9px">
                                    Adjustment
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    <input type="text" placeholder="amount" style="margin:0">
                                  </div>
                                </div>
                              </div>


                              <hr>
                              <div class="row" style="padding-top:1em">
                                <div class="col-md-6">
                                  <div class="thno">
                                    Total ( ₹ )
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    0
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                        <hr style="border-top:1px dotted ">
                        <div class="row">
                          <div class="col-md-6">
                            <label>Notes</label>
                            <textarea rows="4" cols="50" style="height:6em"></textarea>
                          </div>
                        </div>


                      </div>


                    </div>
                  </div>
                </form>


              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="submit()">Save as Draft</button>
              <button class="submitBtn" (click)="submit()">Save as Open</button>
              <button class="cancelBtn" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </form>
</section>

<!-- bill -->