<!-- order-->
<section class="corder" *ngIf="listContact">
  <a href="#" class="floatEa">
    <i class="fa fa-envelope-o my-float"></i>
  </a>
  <div class="ft">
    <h1>Contact
      <!-- <button class="addItema" (click)="addContact()"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button> -->
    </h1>
  </div>
  <div class="card margina">
    <div class="tableide">
      <div class="row">
        <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th class="numeric">CONTACT TYPE</th>
                <th>EMAIL</th>
                <th>COMPANY NAME</th>
                <th>PHONE NUMBER</th>
                <th>WEBSITE</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contactlist; index as i">
                <td class="thno" data-title="NO.">{{contact.contactType}}</td>
                <td class="thname" data-title="NAME">{{contact.email}}</td>
                <td class="thname" data-title="VAT ID">{{contact.company_name}}</td>
                <td data-title="ADDRESS" class="numeric">{{contact.phoneNumber}}</td>
                <td data-title="VAT ID" class="numeric">{{contact.website}}</td>
                <td><i class="fa fa-trash" aria-hidden="true" (click)="delete(contact._id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- order -->