<!-- consignment-->
<section class="corder" *ngIf="cdata">

  <div class="ft">
    <h1>Consignment
      <button class="addItema" (click)="at()"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
    </h1>
  </div>
  <div class="card margina">
    <div class="tableide">
      <div class="row">
        <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th class="numeric">TL.NO.</th>
                <th>LOCATION NO.</th>
                <th>CHALLAN NO.</th>
                <th>CONSIGNMENT DATE</th>
                <th>PRODUCT</th>
                <th>NET WT.</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consigment of consigmentDetail">
                <td class="thno" data-title="NO.">{{consigment.tl_number}}</td>
                <td class="thname" data-title="NAME">{{consigment.location_number}}</td>
                <td class="thname" data-title="VAT ID">{{consigment.challan_number}}</td>
                <td data-title="ADDRESS" class="numeric">{{consigment.consignment_date}}</td>
                <td data-title="VAT ID" class="numeric">{{consigment.product}}</td>
                <td data-title="VAT ID" class="numeric">{{consigment.quantity.net_wt}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- consignment -->





<!-- consignment input -->
<section class="createcontract" *ngIf="!cdata">
  <div class="ft">
    <h1>Consignment | Create
    </h1>
  </div>
  <form class="createContractorForm" [formGroup]="consignmentForm">
    <div class="row">
      <div class="col-md-12">
        <!-- input type -->
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">
                  <!-- <div class="row">
                  <div class="input-field col s6">
                    <p><label>Consignor <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="consignor">
                    
                   
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.consignor.required || (consignmentForm.controls.consignor.pristine && submitted)">
                      consignor can't be empty</p>

                  </div> -->

                  <div class="input-field col s6">
                    <p><label>Consignor<span class="blue_star">*</span></label></p>
                    <select class="orga" formControlName="consignor" (ngModelChange)="onChangeObj($event)">

                      <option value="" disabled selected>Choose Consignor</option>
                      <option *ngFor="let list of contactlist" [value]='list._id'>{{list.name}}</option>
                    </select>
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.consignor.required || (consignmentForm.controls.consignor.pristine && submitted)">
                      consignor can't be empty</p>
                  </div>


                  <div class="input-field col s6">
                    <p><label>Consignee<span class="blue_star">*</span></label></p>
                    <select class="orga" formControlName="consignee" (ngModelChange)="chengeconsignee($event)">

                      <option value="" disabled selected>Choose Consignee</option>
                      <option *ngFor="let list of destinationlist" [value]='list.location_name'>{{list.location_name}}
                      </option>
                    </select>
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.consignee.required || (consignmentForm.controls.consignee.pristine && submitted)">
                      consignee can't be empty</p>
                  </div>


                </div>
                <div class="row">


                  <!-- <div class="input-field col s4">
                    <p><label>Primary Contact</label></p>
                    <input type="text" class="validate">
                  </div> -->
                  <div class="input-field col s6">
                    <p><label>Place Of Origin</label></p>
                    <input type="text" class="validate" formControlName="origin_place">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.origin_place.required || (consignmentForm.controls.origin_place.pristine && submitted)">
                      origin_place name can't be empty</p>

                  </div>
                  <div class="input-field col s6">
                    <p><label>Destination</label></p>
                    <input type="text" class="validate" formControlName="destination">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.destination.required || (consignmentForm.controls.destination.pristine && submitted)">
                      destination can't be empty</p>

                  </div>

                </div>
                <div class="row">

                  <div class="input-field col s6">
                    <p><label>Reference Number<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="reference_number">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.reference_number.required || (consignmentForm.controls.reference_number.pristine && submitted)">
                      reference_number can't be empty</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>Truck No.<span class="blue_star">*</span></label></p>
                    <!-- <input type="text" class="validate" formControlName="truck_number">fleetDetail -->
                    <select class="orga" formControlName="truck_number" (ngModelChange)="changetruck($event)">

                      <option value="" disabled selected>Choose Truck</option>
                      <option *ngFor="let list of fleetDetail" [value]='list._id'>{{list?.truck_number}}</option>
                    </select>

                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.truck_number.required || (consignmentForm.controls.truck_number.pristine && submitted)">
                      truck_number can't be empty</p>

                  </div>
                </div>
                <div class="row">

                  <div class="input-field col s6">
                    <p><label>Consignment Date<span class="blue_star">*</span></label></p>
                    <input type="date" class="validate" formControlName="consignment_date">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.consignment_date.required || (consignmentForm.controls.consignment_date.pristine && submitted)">
                      consignment_date can't be empty</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>Authorised person<span class="blue_star">*</span></label></p>

                    <select class="orga" formControlName="authorize_person">

                      <option value="" disabled selected>Choose Employee</option>
                      <option *ngFor="let list of employeelist" [value]='list._id'>{{list.name}}</option>
                    </select>

                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.authorize_person.required || (consignmentForm.controls.authorize_person.pristine && submitted)">
                      authorize_person can't be empty</p>

                  </div>


                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Driver Name<span class="blue_star">*</span></label></p>
                    <!-- <input type="text" class="validate" formControlName="driver_name">driverlist -->
                    <select class="orga" formControlName="driver_name">

                      <option value="" disabled selected>Choose Driver</option>
                      <option *ngFor="let list of driverlist" [value]='list._id'>{{list.name}}</option>
                    </select>

                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.driver_name.required || (consignmentForm.controls.driver_name.pristine && submitted)">
                      driver_name can't be empty</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>Driving Lic. No<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="driver_license_number">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.driver_license_number.required || (consignmentForm.controls.driver_license_number.pristine && submitted)">
                      driver_license_number can't be empty</p>
                  </div>
                </div>


                <div class="row">
                  <div class="input-field col s6">
                    <p><label>TRUCK CONFIG<span class="blue_star">*</span></label></p>
                    <select class="orga" formControlName="truckconfig">
                      <option value="" disabled selected>Choose option</option>
                      <option *ngFor="let list of tconfig" [value]='list'>{{list}}</option>
                    </select>
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.truckconfig.required || (consignmentForm.controls.truckconfig.pristine && submitted)">
                      truck config can't be empty</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>within state<span class="blue_star">*</span></label></p>
                    <label class="switch">
                      <input class="switch-input" type="checkbox" />
                      <span class="switch-label" data-on="Yes" data-off="No"></span> 
                      <span class="switch-handle"></span> 
                     </label>

                    

                  </div>
                </div>


                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Price Type<span class="blue_star">*</span></label></p>
                    <select class="orga" formControlName="price_type">
                      <option value="" disabled selected>Select</option>
                      <option value="fdz">fdz</option>
                      <option value="bfdz">bfdz</option>
                    </select>
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.price_type.required || (consignmentForm.controls.price_type.pristine && submitted)">
                      truck config can't be empty</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>Amount<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="amount" [readonly]="true">

                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.price_type.required || (consignmentForm.controls.price_type.pristine && submitted)">
                      truck config can't be empty</p>

                  </div>

                  </div>
               





                <div class="tableide consignmentTable">
                  <div class="row">
                    <div id="no-more-tables">
                      <table class="col-md-12 table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                          <tr>
                            <th class="numeric">TL.NO.</th>
                            <th>LOCATION NO.</th>
                            <th>CHALLAN NO.</th>
                            <th>DATE</th>
                            <th>PRODUCT</th>
                            <th>QTY.(KL)
                          <tr>
                            <th>tare</th>
                            <th>gross</th>
                            <th>net</th>
                          </tr>
                          </th>

                          <th>ADVANCE PAYMENT
                            <tr>
                              <th>DIESEL</th>
                              <th>DRIVER</th>
                              <th>TOLL</th>
                            </tr>
                          </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="thname"><input type="text" style="border: none !important"
                                formControlName="tl_number"></td>
                            <p class="errormessage"
                              *ngIf="consignmentFormErrors.tl_number.required || (consignmentForm.controls.tl_number.pristine && submitted)">
                              tl_number can't be empty</p>

                            <td class="thname"><input type="text" style="border: none !important"
                                formControlName="location_number"></td>
                            <p class="errormessage"
                              *ngIf="consignmentFormErrors.location_number.required || (consignmentForm.controls.location_number.pristine && submitted)">
                              location_number can't be empty</p>



                            <td class="thname">
                          <tr>
                            <input type="file" class="validate" class="fileType" #mydoc
                              (change)="upload($event,selectedOption)">
                          </tr>
                          <tr>
                            <input type="text" style="border: none !important" formControlName="challan_number">
                            <p class="errormessage"
                              *ngIf="consignmentFormErrors.challan_number.required || (consignmentForm.controls.challan_number.pristine && submitted)">
                              challan_number can't be empty</p>

                          </tr>
                          </td>




                          <td class="thname"><input type="date" style="border: none !important"
                              formControlName="challan_date"></td>
                          <p class="errormessage"
                            *ngIf="consignmentFormErrors.challan_date.required || (consignmentForm.controls.challan_date.pristine && submitted)">
                            challan_date can't be empty</p>

                          <td class="thname"><input type="text" style="border: none !important"
                              formControlName="product"></td>
                          <p class="errormessage"
                            *ngIf="consignmentFormErrors.product.required || (consignmentForm.controls.product.pristine && submitted)">
                            product can't be empty</p>

                          <td class="thname">
                            <tr>
                              <td> <input type="text" style="border: none !important" formControlName="tare_wt">
                              </td>
                              <td> <input type="text" style="border: none !important" formControlName="gross_wt">
                              </td>
                              <td> <input type="number" style="border: none !important" formControlName="net_wt">
                              </td>
                            </tr>


                          </td>
                          <td>
                            <tr>
                              <td> <input type="text" style="border: none !important" formControlName="diesel_expenses">
                              </td>
                              <td> <input type="text" style="border: none !important" formControlName="driver_expenses">
                              </td>
                              <td> <input type="text" style="border: none !important" formControlName="toll_expenses">
                              </td>
                            </tr>
                          </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>









              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="submit()">Next</button>
              <button class="cancelBtn" (click)="at()">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </form>
</section>

<!-- consignment input -->
