<!-- consignment-->
<section class="corder" *ngIf="cdata">

  <div class="ft">
    <h1>Consignment
      <button class="addItema" (click)="at()"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
    </h1>
  </div>
  <div class="card margina">
    <div class="tableide">
      <div class="row">
        <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th>CONSIGNEE</th>
                <th>CONSIGNMENT NO.</th>
                <th>CONSIGNMENT DATE</th>
                <th>TRUCK CONFIG</th>
                <!-- <th>NET WT.</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consigment of consigmentDetail">
                <td class="thname" data-title="NAME">{{consigment.consignee}}</td>
                <td class="thname" data-title="VAT ID">{{consigment.consignmentNumber}}</td>
                <td data-title="ADDRESS" class="numeric">{{consigment.consignment_date}}</td>
                <td data-title="VAT ID" class="numeric">{{consigment.truck_confg}}</td>
                <!-- <td data-title="VAT ID" class="numeric">{{consigment.quantity.net_wt}}</td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- consignment -->





<!-- consignment input -->
<section class="createcontract" *ngIf="!cdata">
  <div class="ft">
    <h1>Consignment | Create
    </h1>
  </div>
  <form class="createContractorForm" [formGroup]="consignmentForm">
    <div class="row">
      <div class="col-md-12">
        <!-- input type -->
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">
                  <!-- <div class="row">
                  <div class="input-field col s6">
                    <p><label>Consignor <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="consignor">
                    
                   
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.consignor.required || (consignmentForm.controls.consignor.pristine && submitted)">
                      consignor can't be empty</p>

                  </div> -->

                  <div class="input-field col s6">
                    <p><label>Consignor<span class="blue_star">*</span></label></p>
                    <!-- <select class="orga" formControlName="consignor" (ngModelChange)="onChangeObj($event)">

                      <option value="" disabled selected>Choose Consignor</option>
                      <option *ngFor="let list of contactList" [value]='list._id'>{{list.name}}</option>
                    </select> -->
                    <div class="ng-autocomplete">
                      <ng-autocomplete 
                      formControlName="consignor"
                        [data]="contactList"
                        [searchKeyword]="keyword1"
                        (selected)='selectConsignor($event)'
                        [itemTemplate]="itemTemplate1"
                        [notFoundTemplate]="notFoundTemplate">                                 
                      </ng-autocomplete>           
                      <ng-template #itemTemplate1 let-item>
                      <a [innerHTML]="item.name"></a>
                      </ng-template>
                       
                      <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                      </ng-template>
                      <!-- <p class="errormessage" *ngIf="trucks==''">truck number can't be empty</p> -->
                      </div>
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.consignor.required || (consignmentForm.controls.consignor.pristine && submitted)">
                      consignor can't be empty</p>
                  </div>


                  <div class="input-field col s6">
                    <p><label>Consignee<span class="blue_star">*</span></label></p>
                    <select class="orga" formControlName="consignee" (ngModelChange)="chengeconsignee($event)">

                      <option value="" disabled selected>Choose Consignee</option>
                      <option *ngFor="let list of destinationlist" [value]='list.location_name'>{{list.location_name}},{{list.location_code}},{{list.km}}
                      </option>
                    </select>
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.consignee.required || (consignmentForm.controls.consignee.pristine && submitted)">
                      consignee can't be empty</p>
                  </div>


                </div>
                <div class="row">


                  <!-- <div class="input-field col s4">
                    <p><label>Primary Contact</label></p>
                    <input type="text" class="validate">
                  </div> -->
                  <div class="input-field col s6">
                    <p><label>Place Of Origin</label></p>
                    <input type="text" class="validate" formControlName="origin_place">
                    <!-- <p class="errormessage"
                      *ngIf="consignmentFormErrors.origin_place.required || (consignmentForm.controls.origin_place.pristine && submitted)">
                      origin_place name can't be empty</p> -->

                  </div>
                  <div class="input-field col s6">
                    <p><label>Destination</label></p>
                    <input type="text" class="validate" formControlName="destination">
                    <!-- <p class="errormessage"
                      *ngIf="consignmentFormErrors.destination.required || (consignmentForm.controls.destination.pristine && submitted)">
                      destination can't be empty</p> -->

                  </div>

                </div>
                <div class="row">

                  <div class="input-field col s6">
                    <p><label>Reference Number<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="reference_number">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.reference_number.required || (consignmentForm.controls.reference_number.pristine && submitted)">
                      reference_number can't be empty</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>Truck No.<span class="blue_star">*</span></label></p>
                    <!-- <select class="orga" formControlName="truck_number" (ngModelChange)="changetruck($event)">

                      <option value="" disabled selected>Choose Truck</option>
                      <option *ngFor="let list of fleetDetail" [value]='list._id'>{{list?.truck_number}}</option>
                    </select> -->

                   

                      <div class="ng-autocomplete">
                        <ng-autocomplete 
                        formControlName="truck_number"
                          [data]="fleetDetail"
                          [searchKeyword]="keyword"
                          (selected)='selectEvent($event)'
                          [itemTemplate]="itemTemplate"
                          [notFoundTemplate]="notFoundTemplate">                                 
                        </ng-autocomplete>
                         
                        <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.truck_number"></a>
                        </ng-template>
                         
                        <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                        </ng-template>
                        <p class="errormessage" *ngIf="trucks==''">truck number can't be empty</p>
                        </div>
                        <p class="errormessage"
                        *ngIf="consignmentFormErrors.truck_number.required || (consignmentForm.controls.truck_number.pristine && submitted)">
                        truck_number can't be empty</p>
                  </div>

              
                    
                </div>
                <div class="row">

                  <div class="input-field col s6">
                    <p><label>Consignment Date<span class="blue_star">*</span></label></p>
                    <input type="date" class="validate" formControlName="consignment_date">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.consignment_date.required || (consignmentForm.controls.consignment_date.pristine && submitted)">
                      consignment_date can't be empty</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>Authorised person<span class="blue_star">*</span></label></p>

                    <input type="text" class="validate" formControlName="authorize_person" [readonly]='true'>
                    <!-- <p class="errormessage"
                      *ngIf="consignmentFormErrors.authorize_person.required || (consignmentForm.controls.authorize_person.pristine && submitted)">
                      authorize_person can't be empty</p> -->


                    <!-- <select class="orga" formControlName="authorize_person">

                      <option value="" disabled selected>Choose Employee</option>
                      <option *ngFor="let list of employeelist" [value]='list._id'>{{list.name}}</option>
                    </select> -->

                 

                  </div>


                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Driver Name<span class="blue_star">*</span></label></p>
                    <!-- <input type="text" class="validate" formControlName="driver_name">driverlist -->
                    <select class="orga" formControlName="driver_name" (ngModelChange)="choosedriver($event)">

                      <option value="" disabled selected>Choose Driver</option>
                      <option *ngFor="let list of driverlist" [value]='list._id'>{{list.name}}</option>
                    </select>

                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.driver_name.required || (consignmentForm.controls.driver_name.pristine && submitted)">
                      driver_name can't be empty</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>Driving Lic. No<span class="blue_star">*</span></label></p>
                    <input type="text" class="validate" formControlName="driver_license_number">
                    <!-- <p class="errormessage"
                      *ngIf="consignmentFormErrors.driver_license_number.required || (consignmentForm.controls.driver_license_number.pristine && submitted)">
                      driver_license_number can't be empty</p> -->
                  </div>
                </div>


                <div class="row">
                  <div class="input-field col s6">
                    <p><label>TRUCK CONFIG<span class="blue_star">*</span></label></p>
                    <select class="orga" formControlName="truckconfig">
                      <option value="" disabled selected>Choose option</option>
                      <option *ngFor="let list of tconfig" [value]='list'>{{list}}</option>
                    </select>
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.truckconfig.required || (consignmentForm.controls.truckconfig.pristine && submitted)">
                      truck config can't be empty</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>within state<span class="blue_star">*</span></label></p>
                    <label class="switch" style="margin-top: 2em">
                      <input class="switch-input" type="checkbox" />
                      <span class="switch-label" data-on="Yes" data-off="No"></span>
                      <span class="switch-handle"></span>
                    </label>



                  </div>
                </div>


                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Price Type<span class="blue_star">*</span></label></p>
                    <select class="orga" formControlName="price_type">
                      <option value="" disabled selected>Select</option>
                      <option value="fdz">fdz</option>
                      <option value="bfdz">bfdz</option>
                    </select>
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.price_type.required || (consignmentForm.controls.price_type.pristine && submitted)">
                      truck config can't be empty</p>

                  </div>

                  

                </div>

                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Diesel Expenses <span class="blue_star">*</span></label></p>
                    <input type="number" class="validate" formControlName="diesel_expenses">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.diesel_expenses.required || (consignmentForm.controls.diesel_expenses.pristine && submitted)">
                      Diesel Expenses can't be empty</p>
                  </div>
                  <div class="input-field col s6">
                    <p><label>Driver Expenses<span class="blue_star">*</span></label></p>
                    <input type="number" class="validate" formControlName="driver_expenses">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.driver_expenses.required || (consignmentForm.controls.driver_expenses.pristine && submitted)">
                      Driver Expenses can't be empty</p>

                  </div>

                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Toll Expenses<span class="blue_star">*</span></label></p>
                    <input type="number" class="validate" formControlName="toll_expenses">
                    <p class="errormessage"
                      *ngIf="consignmentFormErrors.toll_expenses.required || (consignmentForm.controls.toll_expenses.pristine && submitted)">
                      Toll Expenses can't be empty</p>

                  </div>


                </div>





                <div class="tableide consignmentTable">
                  <div class="row">
                    <div id="no-more-tables">
                      <table class="col-md-12 table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                          <tr>

                            <th>CHALLAN NO.</th>
                            <th>DATE</th>
                            <th>PRODUCT</th>
                            <th class="qtya">QTY
                          <tr class="tgn">
                            <th>Tare</th>
                            <th>Gross</th>
                            <th>Net</th>
                            <th>Action</th>
                          </tr>
                          </th>


                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of arrayofobj let i = index">


                            <td class="thname">
                          <tr>
                            <input type="file" class="validate" class="fileType" #mydoc
                              (change)="upload($event,i)">
                          </tr>
                          <tr>
                            <input type="text" [(ngModel)]="item.challan_number" [ngModelOptions]="{standalone: true}">
                          

                          </tr>
                          </td>




                          <td class="thname"><input type="date" [(ngModel)]="item.challan_date"  [ngModelOptions]="{standalone: true}"></td>
                       

                          <td class="thname"><input type="text" [(ngModel)]="item.product"  [ngModelOptions]="{standalone: true}"></td>
                          

                          <td class="thname">
                            <tr>
                              <td> <input type="number" [(ngModel)]="item.tare_wt"  [ngModelOptions]="{standalone: true}">
                              </td>
                              <td> <input type="number" [(ngModel)]="item.gross_wt"  [ngModelOptions]="{standalone: true}">
                              </td>
                              <td> <input type="number" [(ngModel)]="item.net_wt"  [ngModelOptions]="{standalone: true}">
                              </td>
                              <td>
                                <i (click)="del(i)" class="fa fa-trash" aria-hidden="true" ></i>

                              </td>
                            </tr>

                          </td>

                          </tr>
                        </tbody>
                      </table>
                      <button class="At" (click)='add()'>+&nbsp;&nbsp;Add Another Line</button>
                    </div>
                  </div>
                </div>









              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="submit()">Next</button>
              <button class="cancelBtn" (click)="at()">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </form>
</section>


<!-- consignment input -->
