<!-- period -->
<section class="createcontract" >
  <div class="ft">
    <h1>Period | Create
    </h1>
  </div>
  <form class="createContractorForm" >
    <div class="row">
      <div class="col-md-12">
        <!-- input type -->
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">
                  <div class="input-field col s6">
                      <p><label>Period Name</label></p>
                      <input type="text" class="validate" formControlName="">





















                      
                    </div>
                  <div class="input-field col s6">
                    <p><label>Period Status</label></p>
                    <input type="text" class="validate" formControlName="">
                  </div>

                </div>

                <div class="row">
                  <div class="input-field col s6">
                      <p><label>Period From</label></p>
                      <input type="text" class="validate" formControlName="">
                    </div>
                  <div class="input-field col s6">
                    <p><label>Period To</label></p>
                    <input type="text" class="validate" formControlName="">
                  </div>
                  
                </div>


              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="submit()">Next</button>
              <button class="cancelBtn" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </form>
</section>

<!-- period -->