<!-- period -->
<section class="createcontract" >
  <div class="ft">
    <h1>Period | Create
    </h1>
  </div>
  <form class="createContractorForm" [formGroup]="periodForm">
    <div class="row">
      <div class="col-md-12">
        <!-- input type -->
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">
                  <div class="input-field col s6">
                      <p><label>Period Name</label></p>
                      <input type="text" class="validate" formControlName="period_name">
                      <p class="errormessage"
                      *ngIf="periodFormErrors.period_name.required || (periodForm.controls.period_name.pristine && submitted)">
                      Cannot be empty</p>

                    </div>
                  <div class="input-field col s6">
                    <p><label>Period Status</label></p>
                    <input type="text" class="validate" formControlName="period_status">
                    <p class="errormessage"
                    *ngIf="periodFormErrors.period_status.required || (periodForm.controls.period_status.pristine && submitted)">
                    Cannot be empty</p>
                  </div>

                </div>

                <div class="row">
                  <div class="input-field col s6">
                      <p><label>Period From</label></p>
                      <input type="text" class="validate" formControlName="from">
                      <p class="errormessage"
                      *ngIf="periodFormErrors.from.required || (periodForm.controls.from.pristine && submitted)">
                      Cannot be empty</p>
                    </div>
                  <div class="input-field col s6">
                    <p><label>Period To</label></p>
                    <input type="text" class="validate" formControlName="to">
                    <p class="errormessage"
                    *ngIf="periodFormErrors.to.required || (periodForm.controls.to.pristine && submitted)">
                   Cannot be empty</p>
                  </div>
                  
                </div>


              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="submit()">Next</button>
              <button class="cancelBtn" (click)="cancel()">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </form>
</section>

<!-- period -->