<!-- Dashboard  -->
<section class="dashboard">

  <div class="row">
    <div class="col-md-12" id="padding-o">
      <div class="col-md-3" id="padding-o">
        <app-sidenav></app-sidenav>
      </div>
      <!-- <p>hiiiii</p> -->
      <div class="col-md-9 ipadwidth" id="padding-o">
        <app-main *ngIf="sharenav=='dashboard'"></app-main>
        <app-fleet *ngIf="sharenav=='fleetdetail'"></app-fleet>
        <app-account *ngIf="sharenav=='accountdetail'"></app-account>
        <app-order *ngIf="sharenav=='orderdetail'"></app-order>
        <app-user *ngIf="sharenav=='user'"></app-user>

        <app-company-list *ngIf="sharenav=='companylist'"></app-company-list>
        <app-companycreate *ngIf="sharenav=='companydetail'"></app-companycreate>

        <app-createcontractor *ngIf="sharenav=='contractordetail'"></app-createcontractor>
        <app-contractor-list *ngIf="sharenav=='contractorlist'"></app-contractor-list>

        <app-contactlist *ngIf="sharenav=='contact'"></app-contactlist>
        <!-- <app-contact *ngIf="sharenav=='contactdetail'"></app-contact> -->
        <app-maproute *ngIf="sharenav=='map'"></app-maproute>
        <app-journalist *ngIf="sharenav=='journal'"></app-journalist>
        <app-journal *ngIf="sharenav=='journalcreate'"></app-journal>
        <app-contact-driver *ngIf="sharenav=='Driver'"></app-contact-driver>
        <app-bank *ngIf="sharenav=='bank'"></app-bank>
        <app-consignment *ngIf="sharenav=='consignment'"></app-consignment>
        <app-period *ngIf="sharenav=='period'"></app-period>
        <app-contactemployee *ngIf="sharenav=='Employee'"></app-contactemployee>
        <app-contactvendor *ngIf="sharenav=='Vendor'"></app-contactvendor>
        <app-contactcustomer *ngIf="sharenav=='Customer'"></app-contactcustomer>

        <app-invoice *ngIf="sharenav=='invoice'"></app-invoice>
        <app-invoicelist *ngIf="sharenav=='invoicelist'"></app-invoicelist>
        <app-invoiceview *ngIf="sharenav=='invoiceview'"></app-invoiceview>

        <app-paymentreceived *ngIf="sharenav=='payment'"></app-paymentreceived>
        <app-bill *ngIf="sharenav=='bill'"></app-bill>
        <app-paymentmade *ngIf="sharenav=='paymentmade'"></app-paymentmade>
        <app-destination *ngIf="sharenav=='destination'"></app-destination>
        <app-petrolform *ngIf="sharenav=='petrol'"></app-petrolform>
        <app-workorder *ngIf="sharenav=='workorder'"></app-workorder>
        <app-tender *ngIf="sharenav=='tender'"></app-tender>
        <app-banktransfer *ngIf="sharenav=='banktransfer'"></app-banktransfer>
        <app-paymentvoucher *ngIf="sharenav=='paymentvoucher'"></app-paymentvoucher>
        <app-journalview *ngIf="sharenav=='journalview'"></app-journalview>

        <app-fleetdetail *ngIf="sharenav=='fleetedit'"></app-fleetdetail>
        <!-- <app-invoiceview></app-invoiceview> -->
        <app-billdetail *ngIf="sharenav=='billview'"></app-billdetail>


        <app-paymentvoucherlist *ngIf="sharenav=='payvoucherlist'"></app-paymentvoucherlist>

        <app-petrolform2 *ngIf="sharenav=='petrolsadd'"></app-petrolform2>
        <app-petrolformview *ngIf="sharenav=='petrols'"></app-petrolformview>
        <app-viewdriver *ngIf="sharenav=='viewdriver'"></app-viewdriver>
        <app-viewcontractor *ngIf="sharenav=='viewcontractor'"></app-viewcontractor>



        <!-- <app-contractor-list *ngIf="sharenav=='contractlist'"></app-contractor-list> -->
        <!-- <app-contractor *ngIf="contractor"></app-contractor> -->
        <!-- <app-invite></app-invite> -->
        <!-- <app-contractorcreate></app-contractorcreate> -->
      </div>
    </div>
  </div>
</section>
<!-- Dashboard  -->
