<!-- Dashboard  -->
<section class="dashboard">
  
  <div class="row">
    <div class="col-md-12" id="padding-o">
      <div class="col-md-3" id="padding-o">
        <app-sidenav></app-sidenav>
      </div>
      <div class="col-md-9 ipadwidth" id="padding-o">
        <app-fleet *ngIf="sharenav=='fleetdetail'"></app-fleet>
        <app-account *ngIf="sharenav=='accountdetail'"></app-account>
        <app-order *ngIf="sharenav=='orderdetail'"></app-order>
        <app-user *ngIf="sharenav=='user'"></app-user>
        
        <app-company-list *ngIf="sharenav=='companylist'"></app-company-list>
        <app-companycreate *ngIf="sharenav=='companydetail'"></app-companycreate>
    
        <app-createcontractor *ngIf="sharenav=='contractordetail'"></app-createcontractor>
        <app-contractor-list *ngIf="sharenav=='contractorlist'"></app-contractor-list>

        <app-contactlist *ngIf="sharenav=='contact'"></app-contactlist>
        <app-contact *ngIf="sharenav=='contactdetail'"></app-contact>
        <app-maproute *ngIf="sharenav=='map'"></app-maproute>
        <app-journalist *ngIf="sharenav=='journal'"></app-journalist>
        <app-journal *ngIf="sharenav=='journalcreate'"></app-journal>
        <app-contact-driver *ngIf="sharenav=='Driver'" ></app-contact-driver>
        <app-bank *ngIf="sharenav=='bank'"></app-bank>
        <!-- <app-contractor-list *ngIf="sharenav=='contractlist'"></app-contractor-list> -->
                <!-- <app-contractor *ngIf="contractor"></app-contractor> -->
        <!-- <app-invite></app-invite> -->
        <!-- <app-contractorcreate></app-contractorcreate> -->
      </div>
    </div>
  </div>
</section>
<!-- Dashboard  -->