<!-- User-->
<section class="cuser">
  <!-- Loader -->
  <div class="loading" *ngIf="loader">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>
  <!-- Loader -->
 
  <div class="ft">
    <h1>Users
      <button *ngIf='role=="superAdmin"' class="addItema" data-toggle="modal" data-target="#userModal"><i
          class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
    </h1>
  </div>
  <div class="card margina">
    <div class="tableide">
      <div class="row">
        <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th class="numeric">No</th>
                <th>EMAIL</th>
                <th>IS ACTIVE</th>
                <th>ORGANISATION</th>
                <th>ROLE</th>
                <th>CREATED AT</th>
                <!-- <th><i class="fa fa-question-circle-o" aria-hidden="true"></i></th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userDetail; index as i">

                <td class="thno" data-title="NO."> {{i}}.</td>
                <td class="thname" data-title="NAME">{{user.email}}</td>
                <td class="thname" data-title="VAT ID">{{user.is_active}}</td>
                <td class="thname" data-title="VAT ID">{{user.organisation}}</td>

                <td class="thname" data-title="VAT ID">{{user.role}}</td>                <td data-title="ADDRESS" class="numeric">{{user.createdDate | date}}</td>
                <td data-title="VAT ID" class="numeric" *ngIf='role=="superAdmin"'> <i class="fa fa-trash"
                    aria-hidden="true" (click)="delete(user._id)"></i>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span>

          </button>
          <h4 class="modal-title accountTitle">Create User</h4>

        </div>
        <div class="modal-body">
          <form [formGroup]="createUserForm">
            <div class="row">
              <div class="input-field col s3">
                <label>Name<span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <input type="text" class="validate" formControlName="name">
                <p class="errormessage"
                  *ngIf="createuserFormErrors.name.required || (createUserForm.controls.name.pristine && submitted)">
                  Enter Name</p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <label>Email<span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <input type="text" class="validate" formControlName="email">
                <p class="errormessage"
                  *ngIf="createuserFormErrors.email.required || createuserFormErrors.email.email || (createUserForm.controls.email.pristine && submitted)">
                  Enter Valid Email</p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <label>Password</label>
              </div>
              <div class="input-field col s7">
                <input type="password" class="validate" id="pass1" minlength="6" formControlName="password">
                <p class="errormessage" *ngIf="createuserFormErrors.password.minlength">Password should be of 6 digit
                </p>
                <p class="errormessage"
                  *ngIf="createuserFormErrors.password.required || (createUserForm.controls.password.pristine && submitted)">
                  Password can not be empty</p>

              </div>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <label>Organisation<span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <select formControlName="organisation">
                  <option value="" disabled selected>Choose your option</option>
                  <option [value]=organisation>{{organisation}}</option>
                  <!-- <option value="patro">Patro</option> -->
                </select>
                <p class="errormessage"
                  *ngIf="createuserFormErrors.organisation.required || (createUserForm.controls.organisation.pristine && submitted)">
                  Organisation can not be empty</p>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <label>Role<span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <select formControlName="role">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="admin">Admin</option>
                  <option value="accounts">Accounts</option>
                </select>
                <p class="errormessage"
                  *ngIf="createuserFormErrors.role.required || (createUserForm.controls.role.pristine && submitted)">
                  Organisation can not be empty</p>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="saveBtn" data-dismiss="modal" [disabled]="!createUserForm.valid"
                (click)="saveUser()">Save</button>
              <button type="button" class="cancelBtn" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<!-- User -->