/* user css */
.ft h1 {
    font-size: 34px;
    padding: 19px 0;
    padding-left: 20px;
    margin:0;
  }
section.cuser {
    /* margin-left: -2em; */
}
.ft {
    background: #fff;
}
button.addItema {
    border: 2px solid #32b1f8;
    background: transparent;
    color: #32b1f8;
    height: 35px;
    font-size: 15px;
    border-radius: 2px;
    width: 90px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1em;
}
button.addItema i {
    font-size: 17px;
    margin-right: 7px;
}
/* table css */
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}
.tableide {
    /* padding: 1em 2em; */
}
.tableide .table-bordered>tbody>tr>td{
    border: none;
    padding: 1em;
    color: #000;
    font-weight: 600;
}
.tableide .table-bordered>thead>tr>th {
    border: none;
    padding: 1em;
    background: #fff;
    color:#7b95a1;
}
.tableide tr {
    border-bottom: 1px solid #eee;
    background: #f6fbfc;
}
.tableide .table-bordered {
    border: none;
}
.card.margina {
    margin: 2em 1em;
    box-shadow: none;
    border-radius: 5px;
}
td.thname {
    color: #2f65a1 !important;
    font-weight: 600 !important;
}
td.thno {
    color: #90979b !important;
}
button.caretn {
    background: transparent;
    color: #b1c0c7;
    border: 2px solid #b1c0c7;
    height: 29px;
    width: 29px;
    border-radius: 4px;
}
i.fa.fa-question-circle-o {
    font-size: 27px;
}
/* table css */
/* user css */