<!-- User-->
<section class="cuser">
    <a href="#" class="floatEa">
        <i class="fa fa-envelope-o my-float"></i>
        </a>
    <div class="ft">
      <h1>Users
        <button class="addItema"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
      </h1>
    </div>
    <div class="card margina">
        <div class="tableide">
            <div class="row">
                <div id="no-more-tables">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                      <tr>
                        <th class="numeric">NO.</th>
                        <th>EMAIL</th>
                        <th>IS ACTIVE</th>
                        <th>CREATED AT</th>
                        <th><i class="fa fa-question-circle-o" aria-hidden="true"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="thno" data-title="NO.">1.</td>
                        <td class="thname" data-title="NAME">sanjaysinha.mail@gmail.com</td>
                        <td class="thname" data-title="VAT ID">yes</td>
                        <td data-title="ADDRESS" class="numeric">2019-02-20 14:37</td>
                        <td data-title="VAT ID" class="numeric"></td>
                      </tr>
                      <tr>
                          <td class="thno" data-title="NO.">1.</td>
                          <td class="thname" data-title="NAME">sanjaysinha.mail@gmail.com</td>
                          <td class="thname" data-title="VAT ID">yes</td>
                          <td data-title="ADDRESS" class="numeric">2019-02-20 14:37</td>
                          <td data-title="VAT ID" class="numeric"></td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

    </div>
    </section>
    <!-- User -->
