<nav class="navbar navbar-inverse navbar-fixed-left">
   <div class="">
      <div class="navbar-header">
         <span class="lalbabat">{{userDetail?.organisation}}</span>
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
         <div class="row bagColor">
            <p class="headernav">{{userDetail?.organisation}}</p>
         </div>
         <div class="row">
            <div class="profileNav">
               <ul>
                  <li><i class="fa fa-user-o" aria-hidden="true"></i></li>
                  <li>
                     <p class="userWelcome">Welcome<br><span class="userName">{{userDetail?.name}}</span></p>
                  </li>
                  <!-- <li class="rightArrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></li> -->
                  <li class="dropdown rightArrow">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                              <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu sitetting">
                           <li><a href="#"><i class="fa fa-cog"></i>User Settings</a></li>
                           <li><a href="#"><i class="fa fa-lock" aria-hidden="true"></i>Password change</a></li>
                           <li (click)="logout()"><a><i class="fa fa-sign-out"></i>Logout</a></li>
                        </ul>
                     </li>
               </ul>
            </div>
         </div>
         <div class="row">
            <ul>
               <li class="menuTab"><i class="fa fa-home" aria-hidden="true"></i></li>
               <li class="menuTab"><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
               <li class="dropdown menuTab">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                     <i class="fa fa-cog" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu sitetting">
                     <li (click)="abc('user')"><a ><i class="fa fa-user" aria-hidden="true"></i>Users</a></li>
                     <li><a href="#"><i class="fa fa-sticky-note" aria-hidden="true"></i>Terms</a></li>
                     <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i>Vehicle Kind</a></li>
                     <li><a href="#"><i class="fa fa-tags"></i>VAT rates</a></li>
                     <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>System Settings</a></li>


                  </ul>
               </li>
            </ul>
         </div>
         <div class="row leftCet" (click)="abc('orderdetail')">
            <p class="navMain">Main</p>

            <ul>
               <li><i class="fa fa-sticky-note" aria-hidden="true"></i></li>
               <li class="order">Orders</li>
               <li class="dropdown flRight">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                     <button class="addItem"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button></a>
                     <ul class="dropdown-menu sitetting colori">
                           <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i>Multimodal</a></li>
                           <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i>Road</a></li>
                           <li><a href="#"><i class="fa fa-ship" aria-hidden="true"></i>Sea</a></li>
                           <li><a href="#"><i class="fa fa-plane"></i>Air</a></li>
                           <li><a href="#"><i class="fa fa-train" aria-hidden="true"></i>Train</a></li>
                           <li><a href="#"><i class="fa fa-usd" aria-hidden="true"></i>Customs</a></li>
                           <li><a href="#"><i class="fa fa-shield" aria-hidden="true"></i>Insurance</a></li>
                           <li><a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i>Other</a></li>

      
                        </ul>
               </li>
            </ul>
         </div>
         <div class="row leftCet" (click)="abc('contractordetail')">
            <ul>
               <li><i class="fa fa-sliders" aria-hidden="true"></i></li>
               <li class="order">Contractors</li>
               <li class="dropdown flRight">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                     <button class="addItem" ><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button></a>
                  <!-- <ul class="dropdown-menu">
                     <li><a href="#">Table 1</a></li>
                     <li><a href="#">Table 2</a></li>
                     <li><a href="#">Table 3</a></li>
                     <li><a href="#">Table 4</a></li>
                     <li><a href="#">Table 5</a></li>
                     <li><a href="#">Table 6</a></li>

                  </ul> -->
               </li>
            </ul>
         </div>
         <div class="row leftCet" (click)="abc('fleetdetail')">
            <ul>
               <li><i class="fa fa-truck" aria-hidden="true"></i></li>
               <li class="order">Fleet</li>
            </ul>
         </div>
         <hr class="mHrLine">
         <div class="row leftCet">
            <p class="navMain">Billings</p>

            <ul>
               <li><i class="fa fa-credit-card" aria-hidden="true"></i></li>
               <li class="order">Incomes</li>
               <li class="dropdown flRight">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
                     <button class="addItem"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button></a>
                  <!-- <ul class="dropdown-menu">
                     <li><a href="#">Table 1</a></li>
                     <li><a href="#">Table 2</a></li>
                     <li><a href="#">Table 3</a></li>
                     <li><a href="#">Table 4</a></li>
                     <li><a href="#">Table 5</a></li>
                     <li><a href="#">Table 6</a></li>

                  </ul> -->
               </li>
            </ul>
         </div>
         <div class="row leftCet" (click)="abc('companydetail')">
            <ul>
               <li><i class="fa fa-id-card-o" aria-hidden="true"></i></li>
               <li class="order">Company</li>
            </ul>
         </div>
         <div class="row leftCet" (click)="abc('accountdetail')">
            <ul>
               <li><i class="fa fa-money" aria-hidden="true"></i></li>
               <li class="order">Accounts</li>
            </ul>
         </div>
         <hr class="mHrLine">
         <div class="row leftCet" (click)="abc('contact')">
            <ul>
               <li><i class="fa fa-money" aria-hidden="true"></i></li>
               <li class="order">Contact</li>
            </ul>
         </div>
      </div>
   </div>
</nav>