<!-- workorderlist-->
<section class="corder" *ngIf="workorder">
    <a href="#" class="floatEa">
        <i class="fa fa-envelope-o my-float"></i>
        </a>
    <div class="ft">
      <h1>Work Order
        <button class="addItema" (click)="createworkorder()"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
      </h1>
    </div>
    <div class="card margina">
        <div class="tableide">
            <div class="row">
                <div id="no-more-tables">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                      <tr>
                        <th class="numeric">TENDER NUMBER</th>
                        <th>START DATE</th>
                        <th>ENDDATE</th>
                        <th>INDUCTION TT</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let work of worklist">
                        <td class="thno" data-title="NO.">{{work?.tender_number}}</td>
                        <td class="thname" data-title="NAME">{{work?.period?.start_date}}</td>
                        <td data-title="ADDRESS" class="numeric">{{work?.period?.end_date}}</td>
                        <td data-title="VAT ID" class="numeric" >{{work?.induction_tt}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

    </div>
    </section>
    <!-- workorderlist -->

<!-- workorder -->
<section class="createcontract" *ngIf="!workorder">
  <div class="ft">
    <h1>Work Order | Create
    </h1>
  </div>
  <div class="createContractorForm" >
    <div class="row">
      <div class="col-md-12">
        <!-- input type -->
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Tender No.</label></p>
                    <input type="text" class="validate" [(ngModel)]='tender_number'>
                    <!-- <p class="errormessage"
                        *ngIf="petrolFormErrors.pumpname.required || (petrolForm.controls.pumpname.pristine && submitted)">
                        Cannot be empty</p> -->

                  </div>
                  <div class="input-field col s4">
                    <p><label>Period Of Contract (Start Date)</label></p>
                    <input type="date" class="validate" [(ngModel)]='period.start_date'>
                    <!-- <p class="errormessage"
                          *ngIf="petrolFormErrors.driver.required || (petrolForm.controls.driver.pristine && submitted)">
                          Cannot be empty</p> -->

                  </div>
                  <div class="input-field col s4">
                    <p><label>Period Of Contract (End Date)</label></p>
                    <input type="date" class="validate" [(ngModel)]='period.end_date'>
                    <!-- <p class="errormessage"
                            *ngIf="petrolFormErrors.driver.required || (petrolForm.controls.driver.pristine && submitted)">
                            Cannot be empty</p> -->

                  </div>

                </div>
                <div class="row">
                  <div class="col s6">
                    <p style="margin: 0"><label>Rate Quoted </label>&nbsp;&nbsp;<button class="addBtn" (click)="addquote()">+</button></p>

                  </div>
         

                </div>


                <div class="row" *ngFor="let rate of rate_quoted">
                  <div class="input-field col s3">
                    <p><label>Item</label></p>
                    <input type="text" class="validate" [(ngModel)]='rate.item'>
                    <!-- <p class="errormessage"
                          *ngIf="petrolFormErrors.truckno.required || (petrolForm.controls.truckno.pristine && submitted)">
                          Cannot be empty</p> -->
                  </div>

                  <div class="input-field col s3">
                    <p><label>Rate</label></p>
                    <input type="text" class="validate"  [(ngModel)]='rate.rate'>
                    <!-- <p class="errormessage"
                        *ngIf="petrolFormErrors.date.required || (petrolForm.controls.date.pristine && submitted)">
                        Cannot be empty</p> -->
                  </div>
                  <div class="input-field col s3">
                    <p><label>UOM</label></p>
                    <input type="text" class="validate"  [(ngModel)]='rate.uom'>
                    <!-- <p class="errormessage"
                          *ngIf="petrolFormErrors.truckno.required || (petrolForm.controls.truckno.pristine && submitted)">
                          Cannot be empty</p> -->
                  </div>

                  <div class="input-field col s3">
                    <p><label>Notes</label></p>
                    <input type="text" class="validate"  [(ngModel)]='rate.notes'>
                    <!-- <p class="errormessage"
                        *ngIf="petrolFormErrors.date.required || (petrolForm.controls.date.pristine && submitted)">
                        Cannot be empty</p> -->
                  </div>


                </div>
                <div class="row">
                  <div class="col s6">
                    <p style="margin: 0"><label>No Of TT(s)</label>&nbsp;&nbsp;<button class="addBtn" (click)="addtts()">+</button></p>

                  </div>
                  <!-- <div class="input-field col s3">         <button class="addBtn">+</button>
                        
                            </div> -->

                </div>


                <div class="row" *ngFor="let tt of tts">
                  <div class="input-field col s4">
                    <p><label>Qty</label></p>
                    <input type="text" class="validate" [(ngModel)]='tt.quantity'>
                    <!-- <p class="errormessage"
                          *ngIf="petrolFormErrors.truckno.required || (petrolForm.controls.truckno.pristine && submitted)">
                          Cannot be empty</p> -->
                  </div>

                  <div class="input-field col s4">
                    <p><label>Unit</label></p>
                    <input type="text" class="validate" [(ngModel)]='tt.uom'>
                    <!-- <p class="errormessage"
                        *ngIf="petrolFormErrors.date.required || (petrolForm.controls.date.pristine && submitted)">
                        Cannot be empty</p> -->
                  </div>
                  <div class="input-field col s4">
                    <p><label>UOM</label></p>
                    <input type="text" class="validate" [(ngModel)]='tt.notes'>
                    <!-- <p class="errormessage"
                          *ngIf="petrolFormErrors.truckno.required || (petrolForm.controls.truckno.pristine && submitted)">
                          Cannot be empty</p> -->
                  </div>




                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Terms & Condition</label></p>
                    <div class="row">
                      <div class="input-field col s4" style="padding-left:0">
                        <input type="text" class="validate" [(ngModel)]='terms_condition.text'>

                      </div>
                      <div class="input-field col s8" style="padding-left:0">
                        <input type="file" class="validate" class="fileType" #mydoc
                        (change)="upload($event,'Terms')">
                      </div>
                    </div>
                    <!-- <p class="errormessage"
                          *ngIf="petrolFormErrors.diesel.required || (petrolForm.controls.diesel.pristine && submitted)">
                         Cannot be empty</p> -->
                  </div>

                  <div class="input-field col s6">
                      <p><label>Special Condition</label></p>
                      <div class="row">
                        <div class="input-field col s4" style="padding-left:0">
                          <input type="text" class="validate" [(ngModel)]='spcl_condition.text'>
  
                        </div>
                        <div class="input-field col s8" style="padding-left:0">
                          <input type="file" class="validate" class="fileType" #mydoc
                          (change)="upload($event,'Special')">
                        </div>
                      </div>
                      <!-- <p class="errormessage"
                            *ngIf="petrolFormErrors.diesel.required || (petrolForm.controls.diesel.pristine && submitted)">
                           Cannot be empty</p> -->
                    </div>


                </div>

                <div class="row">
                    <div class="input-field col s6">
                      <p><label>Transport Guideline</label></p>
                      <div class="row">
                        <div class="input-field col s4" style="padding-left:0">
                          <input type="text" class="validate" [(ngModel)]='transport_guide.text'>
  
                        </div>
                        <div class="input-field col s8" style="padding-left:0">
                          <input type="file" class="validate" class="fileType" #mydoc
                          (change)="upload($event,'Transport')">  
                        </div>
                      </div>
                      <!-- <p class="errormessage"
                            *ngIf="petrolFormErrors.diesel.required || (petrolForm.controls.diesel.pristine && submitted)">
                           Cannot be empty</p> -->
                    </div>
  
                    <div class="input-field col s6">
                        <p><label>POL Bulk Transport Agent</label></p>
                        <div class="row">
                          <div class="input-field col s4" style="padding-left:0">
                            <input type="text" class="validate" [(ngModel)]='pbta.text'>
    
                          </div>
                          <div class="input-field col s8" style="padding-left:0">
                            <input type="file" class="validate" class="fileType" #mydoc
                            (change)="upload($event,'Bulk')">      
                          </div>
                        </div>
                        <!-- <p class="errormessage"
                              *ngIf="petrolFormErrors.diesel.required || (petrolForm.controls.diesel.pristine && submitted)">
                             Cannot be empty</p> -->
                      </div>
  
  
                  </div>

                  <div class="row">
                      <div class="input-field col s6">
                        <p><label>Induction of TT in Service</label></p>
                        <input type="text" class="validate" [(ngModel)]='induction_tt'  >
                        <!-- <p class="errormessage"
                            *ngIf="petrolFormErrors.pumpname.required || (petrolForm.controls.pumpname.pristine && submitted)">
                            Cannot be empty</p> -->
    
                      </div>
                   
    
                    </div>

              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn" (click)="submit()">Submit</button>
              <button class="cancelBtn" (click)="createworkorder()">Cancel</button>
            </div>
          </div>
        </div>




        <!-- input type -->





      </div>
    </div>

  </div>
</section>

<!-- workorder -->