/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
.error {
    color: #FF0000;
    text-shadow: 2px 2px #efe0e0;            /***ERROR CLASS ****/
    color: red;
    font-size: 19px;
}