<section class="createcontract">
  <div class="ft">
    <h1>Invoice Detail
      <!-- <button class="addItema"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button> -->
    </h1>
  </div>
  <form class="createContractorForm">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">

                  <div class="input-field col s6">
                    <p><label>Customer Name <span class="blue_star">*</span></label></p>
                    <!-- <select formControlName="customer" (ngModelChange)="onChangeObj($event)">
                      <option value="" disabled selected>Select</option>
                      <option *ngFor="let data of contactlist" [ngValue]='data._id'>{{data.name}}</option>
                    </select> -->
                    <p>{{invoicedetail.customerId.name}}</p>


                  </div>
                  <div class="input-field col s6">
                    <p><label>Invoice #<span class="blue_star">*</span></label></p>
                    <p>{{invoicedetail.invoice_number}}</p>
                  </div>

                </div>
                <div class="row">


                  <div class="input-field col s6">
                    <p><label>Work order </label></p>
                    <p>workorder</p>
                  </div>

                  <div class="input-field col s6">
                    <p><label>Invoice Date<span class="blue_star">*</span></label></p>
                    <p>{{invoicedetail.invoice_date}}</p>
                  </div>
                </div>



                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Terms</label></p>
                    <p>{{invoicedetail.terms}}</p>
                  </div>
                  <div class="input-field col s6">
                    <p><label>Due Date<span class="blue_star">*</span></label></p>
                    <p>{{invoicedetail.due_date}}</p>
                  </div>

                </div>
                <div class="row">


                  <div class="input-field col s6">
                    <p><label>Period (Start Date)</label></p>
                    <p>{{invoicedetail.period.start_date}}</p>
                  </div>

                  <div class="input-field col s6">
                    <p><label>Period (End Date)</label></p>
                    <p>{{invoicedetail.period.end_date}}</p>
                  </div>





                </div>

                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Reverse Change</label></p>
                    <p>{{invoicedetail.reverse_change}}</p>
                  </div>
                </div>
                <div>

                  <div class="tableide journalTable">
                    <div class="row">
                      <div id="no-more-tables">
                        <table class="col-md-12 table-bordered table-striped table-condensed cf">
                          <thead class="cf">
                            <tr>
                              <th>S NO.</th>
                              <th>INVOICE NO.</th>
                              <th>DESCRIPTION</th>
                              <th>AMOUNT</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of invoicedetail.items_details;let i= index">

                              <td class="thname">{{i}}</td>




                              <td class="thname">
                                <!-- <select formControlName="cosignmentId">
                                  <option value="" disabled selected>Select</option>
                                  <option *ngFor="let data of consigmentDetail" [value]='data._id'>
                                    {{data.consignmentNumber}}</option>
                                </select> -->
                                {{item.cosignmentId}}
                              </td>
                              <td class="thname">{{item.description}}</td>
                              <td class="thname">{{item.amount}}</td>



                            </tr>
                          </tbody>
                        </table>



                        <div class="row">
                          <div class="col-md-6">
                            <div class="thno">
                            </div>
                          </div>
                          <div>
                            <div class="col-md-6 hrTag">
                              <div class="row total">
                                <div class="col-md-6">
                                  <div class="thno">
                                    Sub Total
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    {{invoicedetail.sub_total}}
                                  </div>
                                </div>
                              </div>
                              <hr>
                              <div class="row a_t">
                                <div class="col-md-6">
                                  <div class="thno" style="margin-top:9px">
                                    Adjustment
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    <p>{{invoicedetail.adjustment.amount}}</p>
                                  </div>
                                </div>
                              </div>
                              <hr>
                              <div class="row a_t">
                                <div class="col-md-6">
                                  <div class="thno" style="margin-top:9px">
                                    IGST
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-md-6" style="padding:0">
                                      <div class="thno">
                                        <p>{{invoicedetail.igst.rate}}</p>
                                      </div>
                                    </div>
                                    <div class="col-md-6" style="padding-right:0">
                                      <div class="thno">
                                        <p>{{invoicedetail.igst.amount}}</p>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                              <hr>
                              <div class="row a_t">
                                <div class="col-md-6">
                                  <div class="thno" style="margin-top:9px">
                                    CGST
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-md-6" style="padding:0">
                                      <div class="thno">
                                        <p>{{invoicedetail.cgst.rate}}</p>
                                      </div>
                                    </div>
                                    <div class="col-md-6" style="padding-right:0">
                                      <div class="thno">
                                        <p>{{invoicedetail.cgst.amount}}</p>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                              <hr>
                              <div class="row a_t">
                                <div class="col-md-6">
                                  <div class="thno" style="margin-top:9px">
                                    SGST
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-md-6" style="padding:0">
                                      <div class="thno">
                                      <p>{{invoicedetail.sgst.rate}}</p>
                                      </div>
                                    </div>
                                    <div class="col-md-6" style="padding-right:0">
                                      <div class="thno">
                                      <p>{{invoicedetail.sgst.amount}}</p></div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                              <hr>
                              <div class="row" style="padding-top:1em">
                                <div class="col-md-6">
                                  <div class="thno">
                                    Total ( ₹ )
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                   <p>{{invoicedetail.total}}</p>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>

                        <hr style="border-top:1px dotted ">
                        <div class="row">
                          <div class="col-md-6">
                            <label>Customer Notes</label>
                            <textarea rows="4" cols="50" style="height:6em"
                              placeholder="Thanks for your business."></textarea>
                          </div>
                          <div class="col-md-6">
                            <label>Terms & Conditions</label>
                            <textarea rows="6" cols="50" style="height: 6em"
                              placeholder="Mention your company's Terms and conditions"></textarea>
                          </div>
                        </div>


                      </div>


                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>
          <div class="row">
            <div class="contractorButton">
              <button class="submitBtn">Save</button>
              <button class="cancelBtn">Cancel</button>
            </div>
          </div>
        </div>









      </div>
    </div>

  </form>
</section>