<section class="createcontract">
  <div class="ft">
    <h1>Bill Detail
      <button class="addItema"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</button>
    </h1>
  </div>
  <form class="createContractorForm">
    <div class="row">
      <div class="col-md-12">
        <div>
          <div class="card corCard">
            <div class="row">

              <div class="nota">
                <div class="row">

                  <div class="input-field col s6">
                    <p><label> Name <span class="blue_star">*</span></label></p>
                    {{billdetail?.vendorId?.name}}{{billdetail?.contractId?.name}}

                  </div>
                  <div class="input-field col s6">
                    <p><label>Bill #<span class="blue_star">*</span></label></p>
                    <p>{{billdetail.bill_number}}</p>
                  </div>

                </div>
                <div class="row">


                  <div class="input-field col s6">
                    <p><label>Work Order</label></p>
                    <p>{{billdetail.work_order}} </p>
                  </div>

                  <div class="input-field col s6">
                    <p><label>Bill Date<span class="blue_star">*</span></label></p>
                    <p>{{billdetail.bill_date}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Terms</label></p>
                    <p>{{billdetail.terms}}</p>
                  </div>
                  <div class="input-field col s6">
                    <p><label>Due Date<span class="blue_star">*</span></label></p>
                    <p>{{billdetail.due_date}}</p>
                  </div>

                </div>

                <div class="row">


                  <div class="input-field col s6">
                    <p><label>Period (Start Date)</label></p>
                    <p>{{billdetail.period.start_date}}</p>

                  </div>

                  <div class="input-field col s6">
                    <p><label>Period (End Date)</label></p>
                    <p>{{billdetail.period.end_date}}</p>
                  </div>





                </div>

                <div class="row">
                  <div class="input-field col s6">
                    <p><label>Reverse Change</label></p>
                    <p>{{billdetail.reverse_change}}</p>

                  </div>




                </div>








                <div class="tableide journalTable">
                  <div class="row">
                    <div id="no-more-tables">
                      <table class="col-md-12 table-bordered table-striped table-condensed cf billTable">
                        <thead class="cf">
                          <tr>
                            <th>S NO.</th>
                            <th>CONSIGNMENT NOTE NO.</th>
                            <th>DESCRIPTION</th>
                            <th>AMOUNT</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of billdetail.items_details;let i= index">
                            <td class="thname">{{i}}</td>
                            <td class="thname">
                              {{item.cosignmentId.consignmentNumber}}
                            </td>
                            <td class="thname">{{item.description}}</td>
                            <td class="thname">{{item.amount}}</td>

                          </tr>
                        </tbody>
                      </table>



                      <div class="row">
                        <div class="col-md-6">
                          <div class="thno">
                            <!-- <button class="At" (click)="addPhone()">+&nbsp;&nbsp;Add Another Line</button> -->
                          </div>
                        </div>
                        <div>
                          <div class="col-md-6 hrTag">
                            <div class="row total">
                              <div class="col-md-6">
                                <div class="thno">
                                  Sub Total
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="thno">
                                  {{billdetail.sub_total}}
                                </div>
                              </div>
                            </div>
                            <hr>

                            <div class="row a_t">
                              <div class="col-md-6">
                                <div class="thno" style="margin-top:9px">
                                  TDS
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-md-6" style="padding:0">
                                    <div class="thno">
                                      <p>{{billdetail.tds.rate}}</p>
                                    </div>
                                  </div>
                                  <div class="col-md-6" style="padding-right:0">
                                    <div class="thno">
                                      {{billdetail.tds.amount}} </div>
                                  </div>
                                </div>

                              </div>
                            </div>
                            <hr>
                            <div class="row a_t">
                              <div class="col-md-6">
                                <div class="thno" style="margin-top:9px">
                                  Adjustment
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="thno">
                                  <p>{{billdetail.adjustment.amount}}</p>
                                </div>
                              </div>
                            </div>


                            <hr>
                            <div class="row a_t">

                              <div class="col-md-12">
                                <div class="col-md-6">
                                  <div class="thno">
                                    Discount
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="thno">
                                    {{billdetail.discount}} </div>
                                </div>


                              </div>
                            </div>



                            <hr>
                            <div class="row" style="padding-top:1em">
                              <div class="col-md-6">
                                <div class="thno">
                                  Total ( ₹ )
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="thno">
                                  {{billdetail.total}} </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>

                      <hr style="border-top:1px dotted ">
                      <div class="row">
                        <div class="col-md-6">
                          <label>Notes</label>
                          <textarea rows="4" cols="50" style="height:6em"></textarea>
                        </div>
                      </div>


                    </div>


                  </div>
                </div>


              </div>

            </div>
          </div>

        </div>









      </div>
    </div>

  </form>
</section>
