<!-- order-->
<section class="corder">
  <a href="#" class="floatEa">
    <i class="fa fa-envelope-o my-float"></i>
  </a>
  <div class="ft">
    <h1>Accounts
      <button class="addItema" data-toggle="modal" data-target="#accountModal"><i class="fa fa-plus-circle"
          aria-hidden="true"></i>Add</button>
    </h1>
  </div>
  <div class="card margina">
    <div class="tableide">
      <div class="row">
        <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th class="numeric">ACCOUNT NAME</th>
                <th>ACCOUNT CODE</th>
                <th>TYPE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="thno" data-title="NO.">IT and Internet Expenses </td>
                <td class="thname" data-title="NAME">M001</td>
                <td class="thname" data-title="VAT ID">Expense</td>
              </tr>
              <tr>
                <td class="thno" data-title="NO.">Rent Expenses </td>
                <td class="thname" data-title="NAME">M002</td>
                <td class="thname" data-title="VAT ID">Expense</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- order -->

<!-- Button trigger modal -->
<!-- <button class="btn btn-primary btn-lg" >Launch demo modal</button> -->
<!-- Modal -->
<div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span>

          </button>
          <h4 class="modal-title accountTitle">Create Account</h4>

        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="input-field col s3">
                <label>Account Type <span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <select>
                  <option value="" disabled selected>Choose your option</option>
                  <option value="1">Assets</option>
                  <option value="2">Expenses</option>
                  <option value="3">Income</option>
                  <option value="3">Liability</option>
                  <option value="3">Revenue</option>
                </select>

              </div>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <label>Account Name <span class="blue_star">*</span></label>
              </div>
              <div class="input-field col s7">
                <input  type="text" class="validate">
                <div class="check">
                  <input type="checkbox" id="check">
                  <label for="check"> <span>Make this a sub-account<i class="fa fa-question-circle-o" aria-hidden="true"></i></span></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <label>Account Code</label>
              </div>
              <div class="input-field col s7">
                <input type="text" class="validate">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s3">
                <label>Description</label>
              </div>
              <div class="input-field col s7">
                <textarea cols="8" placeholder="Max 500 characters"></textarea>
              
              
                <div class="check">
                  <input type="checkbox" id="checka">
                  <label for="checka"> <span> Add to the watchlist on my dashboard</span></label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="saveBtn">Save</button>
                <button type="button" class="cancelBtn">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>