<!-- order-->
<section class="corder">
    <a href="#" class="floatEa">
        <i class="fa fa-envelope-o my-float"></i>
        </a>
    <div class="ft">
      <h1>Orders
        <button class="addItema"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
      </h1>
    </div>
    <div class="card margina">
        <div class="tableide">
            <div class="row">
                <div id="no-more-tables">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                      <tr>
                        <th class="numeric">NO.</th>
                        <th>NUMBER</th>
                        <th>CONTRACTOR/TRANSPORTS</th>
                        <th>PAYMENT NET</th>
                        <th><i class="fa fa-question-circle-o" aria-hidden="true"></i></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="thno" data-title="NO.">-</td>
                        <td class="thname" data-title="NAME"></td>
                        <td class="thname" data-title="VAT ID"></td>
                        <td data-title="ADDRESS" class="numeric"></td>
                        <td data-title="VAT ID" class="numeric"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>

    </div>
    </section>
    <!-- order -->
