<!-- create contractor -->
<section class="createcontract">
  <div class="ft">
    <h1>Contractor | Create
    </h1>
  </div>
  <form class="createContractorForm">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="card corCard">
            <div class="row">

              <!-- input type -->
              <div class="nota" *ngIf="fieldinput">
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Contact person</label></p>
                    <input type="text" class="validate">
                  </div>
                  <div class="input-field col s4">
                    <p><label>Email <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate">
                  </div>
                  <div class="input-field col s4">
                    <p><label>Company Name</label></p>
                    <input type="text" class="validate">
                  </div>

                </div>
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Address</label></p>
                    <input type="text" class="validate">
                  </div>
                  <div class="input-field col s4">
                    <p><label>Registration No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate">
                  </div>
                  <div class="input-field col s4">
                    <p><label>Phone Number</label></p>
                    <input type="text" class="validate">
                  </div>

                </div>
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Currency</label></p>
                    <input type="text" class="validate">
                  </div>
                  <div class="input-field col s4">
                    <p><label>GST No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate">
                  </div>
                  <div class="input-field col s4">
                    <p><label>Trade License No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate">
                  </div>

                </div>

                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Invoice No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate">
                  </div>
                  <div class="input-field col s4">
                    <p><label>PAN No. <span class="blue_star">*</span></label></p>
                    <input type="text" class="validate">
                  </div>
                </div>
              </div>
              <!-- input type -->
              <!-- uploadfiles -->
              <div class="imgFile" *ngIf="imagefile">
                <p><span class="blue_star">******Upload Files*********</span></p>
                <div class="row">
                  <div class="input-field col s4">
                    <p><label>Company Logo</label></p>
                    <div class="input-field col s7 myFilet aeto"><input type="file" class="validate" class="fileType">
                    </div>
                  </div>
                  <div class="input-field col s4">
                    <p><label>Trade License ID</label></p>
                    <div class="input-field col s7 myFilet aeto"><input type="file" class="validate" class="fileType">
                    </div>
                  </div>
                  <div class="input-field col s4">
                    <p><label>GST ID</label></p>
                    <div class="input-field col s7 myFilet aeto"><input type="file" class="validate" class="fileType">
                    </div>
                  </div>
                </div>
                <div class="row">

                  <div class="input-field col s4">
                    <p><label>Invoice ID</label></p>
                    <div class="input-field col s7 myFilet aeto"><input type="file" class="validate" class="fileType">
                    </div>
                  </div>
                  <div class="input-field col s4">
                    <p><label>PAN ID</label></p>
                    <div class="input-field col s7 myFilet aeto"><input type="file" class="validate" class="fileType">
                    </div>
                  </div>
                  <div class="input-field col s4">
                    <p><label>Registration ID</label></p>
                    <div class="input-field col s7 myFilet aeto"><input type="file" class="validate" class="fileType">
                    </div>
                  </div>
                </div>
              </div>
              <!-- uploadfiles -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="contractorButton">
        <button class="submitBtn" (click)="showContent()">Save</button>
        <button class="cancelBtn">Cancel</button>
      </div>
    </div>
  </form>
</section>

<!-- create contractor -->