<!-- main -->
<div class="ft">
    <h1>Admin Dashboard
      <!-- <button class="addItema"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button> -->
    </h1>
  </div>
<!-- main -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card mainCard">
        <h1 class="mainHeader">Fleet Action
          <select class="orga" [(ngModel)]="fleetdate" (change)="fleetDate()">
            <option value="" disabled selected>Days</option>
            <option value=7>7</option>
            <option value=15>15</option>
            <option value=21>21</option>
            <option value=28>28</option>
          </select>
        </h1>
        <div class="tableide">
            <div class="row">
                <div id="no-more-tables">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                    <!-- <thead class="cf">
                   
                    </thead> -->
                    <tbody>
                        <tr>
                            <td>TRUCK#</td>
                            <td>DOCUMENT</td>
                            <td>EXPIRY DATE</td>
                          </tr>
                      <tr *ngFor="let list of fleetList; index as i">
                        <td class="thno" data-title="NO.">{{list.truck_number}}</td>
                        <td class="thname" data-title="NAME">Sco</td>
                        <td data-title="ADDRESS" class="numeric">13/08/2020</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="card mainCard">
            <h1 class="mainHeader">Bills
              <select class="orga" [(ngModel)]="date" (change)="billDate()">
                <option value="" disabled selected>Days</option>
                <option value=7>7</option>
                <option value=15>15</option>
                <option value=21>21</option>
                <option value=28>28</option>
              </select>
            </h1>
            <div class="tableide">
                <div class="row">
                    <div id="no-more-tables">
                        <table class="col-md-12 table-bordered table-striped table-condensed cf">
                        <!-- <thead class="cf">
                       
                        </thead> -->
                        <tbody>
                            <tr>
                                <td>BILL#</td>
                                <td>VENDOR/CONTRACTOR</td>
                                <td>AMOUNT</td>
                              </tr>
                          <tr *ngFor="let list of billList; index as i">
                            <td class="thno" data-title="NO.">{{list.bill_number}}</td>
                            <td class="thname" data-title="NAME">{{list.vendorId}}</td>
                            <td data-title="ADDRESS" class="numeric">{{list.total}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>




            </div>
          </div>
      </div>
  </div>
</div>



<div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="card mainCard">
          <h1 class="mainHeader">Consignment Shipped
            <select class="orga"[(ngModel)]="consigndate" (change)="consignDate()">
              <option value="" disabled selected>Days</option>
                <option value=7>7</option>
                <option value=15>15</option>
                <option value=21>21</option>
                <option value=28>28</option>
            </select>
          </h1>
          <div class="tableide">
              <div class="row">
                  <div id="no-more-tables">
                      <table class="col-md-12 table-bordered table-striped table-condensed cf">
                      <!-- <thead class="cf">
                     
                      </thead> -->
                      <tbody>
                          <tr>
                              <td>CONSIGNMENT#</td>
                              <td>DATE</td>
                              <td>CONSIGNOR</td>
                              <td>PLACE</td>
                            </tr>
                        <tr *ngFor="let list of consignList; index as i">
                          <td class="thno" data-title="NO.">{{list.consignmentNumber}}</td>
                          <td class="thname" data-title="NAME">{{list.consignment_date}}</td>
                          <td data-title="ADDRESS" class="numeric">{{list.consignor.name}}</td>
                          <td data-title="ADDRESS" class="thno">{{list.destination}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="card mainCard">
              <h1 class="mainHeader">Revenue/Credit
                <select class="orga" [(ngModel)]="invdate" (change)="invoiceDate()">
                  <option value="" disabled selected>Days</option>
                <option value=7>7</option>
                <option value=15>15</option>
                <option value=21>21</option>
                <option value=28>28</option>
                </select>
              </h1>
              <div class="tableide">
                  <div class="row">
                      <div id="no-more-tables">
                          <table class="col-md-12 table-bordered table-striped table-condensed cf">
                          <!-- <thead class="cf">
                         
                          </thead> -->
                          <tbody>
                              <tr>
                                  <td>INVOICE#</td>
                                  <td>CUSTOMER</td>
                                  <td>AMOUNT</td>
                                </tr>
                            <tr *ngFor="let list of invoiceList; index as i">
                              <td class="thno" data-title="NO.">{{list.invoice_number}}</td>
                              <td class="thname" data-title="NAME">{{list.customerId.name}}</td>
                              <td data-title="ADDRESS" class="numeric">{{list.total}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
  
  
  
  
              </div>
            </div>
        </div>
    </div>
  </div>
