<!-- main -->
<div class="ft">
    <h1>Admin Dashboard
      <button class="addItema"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
    </h1>
  </div>
<!-- main -->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="card mainCard">
        <h1 class="mainHeader">Fleet Action</h1>
        <div class="tableide">
            <div class="row">
                <div id="no-more-tables">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf">
                    <!-- <thead class="cf">
                   
                    </thead> -->
                    <tbody>
                        <tr>
                            <td>TRUCK#</td>
                            <td>DOCUMENT</td>
                            <td>EXPIRY DATE</td>
                          </tr>
                      <tr>
                        <td class="thno" data-title="NO.">WB-1800 1023</td>
                        <td class="thname" data-title="NAME">Sco</td>
                        <td data-title="ADDRESS" class="numeric">13/08/2020</td>
                      </tr>
                      <tr>
                          <td class="thno" data-title="NO.">MH-1800 200</td>
                          <td class="thname" data-title="NAME">Rc</td>
                          <td data-title="ADDRESS" class="numeric">19/05/2021</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="card mainCard">
            <h1 class="mainHeader">Bills</h1>
            <div class="tableide">
                <div class="row">
                    <div id="no-more-tables">
                        <table class="col-md-12 table-bordered table-striped table-condensed cf">
                        <!-- <thead class="cf">
                       
                        </thead> -->
                        <tbody>
                            <tr>
                                <td>BILL#</td>
                                <td>VENDOR/CONTRACTOR</td>
                                <td>AMOUNT</td>
                              </tr>
                          <tr>
                            <td class="thno" data-title="NO.">L-1000-3999</td>
                            <td class="thname" data-title="NAME">Skyscraper</td>
                            <td data-title="ADDRESS" class="numeric">20,000</td>
                          </tr>
                          <tr>
                              <td class="thno" data-title="NO.">T-4000-4199</td>
                              <td class="thname" data-title="NAME">Marshall Brothers</td>
                              <td data-title="ADDRESS" class="numeric">40,000</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                </div>




            </div>
          </div>
      </div>
  </div>
</div>



<div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="card mainCard">
          <h1 class="mainHeader">Consignment Shipped</h1>
          <div class="tableide">
              <div class="row">
                  <div id="no-more-tables">
                      <table class="col-md-12 table-bordered table-striped table-condensed cf">
                      <!-- <thead class="cf">
                     
                      </thead> -->
                      <tbody>
                          <tr>
                              <td>CONSIGNMENT#</td>
                              <td>DATE</td>
                              <td>CONSIGNOR</td>
                              <td>PLACE</td>
                            </tr>
                        <tr>
                          <td class="thno" data-title="NO.">Vin</td>
                          <td class="thname" data-title="NAME">15/02/2019</td>
                          <td data-title="ADDRESS" class="numeric">tq</td>
                          <td data-title="ADDRESS" class="thno">WB</td>
                        </tr>
                        <tr>
                            <td class="thno" data-title="NO.">Bar</td>
                            <td class="thname" data-title="NAME">18/05/2019</td>
                            <td data-title="ADDRESS" class="numeric">ac</td>
                            <td data-title="ADDRESS" class="thno">Asn</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="card mainCard">
              <h1 class="mainHeader">Revenue/Credit</h1>
              <div class="tableide">
                  <div class="row">
                      <div id="no-more-tables">
                          <table class="col-md-12 table-bordered table-striped table-condensed cf">
                          <!-- <thead class="cf">
                         
                          </thead> -->
                          <tbody>
                              <tr>
                                  <td>INVOICE#</td>
                                  <td>CUSTOMER</td>
                                  <td>AMOUNT</td>
                                </tr>
                            <tr>
                              <td class="thno" data-title="NO.">T-8799</td>
                              <td class="thname" data-title="NAME">Purge</td>
                              <td data-title="ADDRESS" class="numeric">29,000</td>
                            </tr>
                            <tr>
                                <td class="thno" data-title="NO.">T-8400</td>
                                <td class="thname" data-title="NAME">Life</td>
                                <td data-title="ADDRESS" class="numeric">25,000</td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                  </div>
  
  
  
  
              </div>
            </div>
        </div>
    </div>
  </div>
